[2018-01-24 09:00] pgte opened #1 "map CRDTs on top of IPLD"
So far, this has been the progress on mapping CmRDTs on top of IPLD and IPFS:

---

CRDTs provide strong eventual consistency over a shared data structure that is replicated amongst nodes. Replicas can be updated concurrently and without coordination, always being mathematically possible to solve existing conflicts.
Two types of CRDTs exist: Convergent (CvRDTs) and Commutative (CmRDTs).

Convergen

[2018-01-24 09:02] pgte commented on #1
## Some more detailed description of the [peer-crdt](https://github.com/ipfs-shipyard/peer-crdt) IPLD model:

We can then model this causal operation log on top of IPLD, so that we can create custom CRDTs on top of it.

So far, these are the evolving requirements for this data structure:
* Each log entry contains:
  * The operation payload (signed and encrypted), null for merge entries
  * The aut

[2018-01-24 09:05] pgte commented on #1
## Some shortcomings of this approach:

### Garbage collection in CRDTs

Garbage collection is an active research topic but, to my knowledge, it boils down to initiate and being able to get consensus on a checkpoint. To get consensus, you have to know the participating replicas and then get a majority of those replicas to agree on a that checkpoint. The checkpoint would then consist of the state o

[2018-01-24 09:09] pgte opened #2 "CRDT: Garbage Collection"
## Problem:

operation-based CRDTs work by nodes storing and forwarding operations to other nodes, in an append-only ever growing graph of operations.

This has a few draw-backs:

* Storage space
* Slow start for new nodes joining or rejoining
* Wasted bandwidth

[2018-01-24 09:09] pgte commented on #2
Ideally, all participating nodes should agree in a snapshot at some point in time, being that what is transmitted to new joining nodes first, followed by the operations.

Garbage collection is an active research topic but, to my knowledge, it boils down to initiate and being able to get consensus on a checkpoint. To get consensus, you have to know the participating replicas and then get a majority

[2018-01-24 09:10] pgte opened #3 "CRDT over IPLD performance"
Goal:

Achieve the same or a better level of performance when using a CRDT over IPLD that we get from using with direct connections.

[2018-01-24 09:11] pgte commented on #3
In previous iterations of CRDTs on top of IPFS, we were applying the Y.js protocol on top of the libp2p pubsub and libp2p multiplexed connections. After the initial sync, the data of the operation was pushed as a part of the broadcast message.

In this approach, instead of getting the changes pushed, each replica pulls the entries that aren't contained in the current HEAD, resolving it through IPL

[2018-01-24 09:13] pgte opened #4 "Cryptographic ACL"
Goal: The path towards a Identity & Capability System on IPFS is clear

- [ ] Researched: 3 different alternative approaches for building a Cryptographic ACL on top of IPFS (containing pros, cons and projection on top of IPFS) have been documented and debated publicly.
- [ ] Chosen: 1 of the above approaches has been picked and a reference implementation has been planned.

[2018-01-24 09:14] pgte opened #5 "Cryptographic ACL: Research"
## Goal:

3 different alternative approaches for building a Cryptographic ACL on top of IPFS (containing pros, cons and projection on top of IPFS) have been documented and debated publicly.

(Tracking in #4)

[2018-01-24 09:15] pgte opened #6 "Cryptographic ACL: first approach"
## Goal:

1 of [the approaches](#5  has been picked and a reference implementation has been planned.

[2018-01-24 12:39] pgte commented on #6
Tracked in #4

[2018-01-24 12:51] pgte opened #7 "Identity: Research"
Research mechanisms for nodes to provide, transmit and prove identity of actors in a decentralised web application that uses IPFS.

[2018-01-24 12:54] pgte opened #8 "Identity: first approach"
Goal: From the [researched approaches for providing identity to decentralised web apps](#7), select one first approach and implement a PoC app / integrate it into an existing DApp.

Depends on #7

[2018-01-24 12:59] pgte opened #9 "Identity: Tracking"
Goal: provide, transmit and prove identity of actors in a decentralised web application that uses IPFS.

- [x] [Research](#7)
- [ ] [First approach](#8)

[2018-01-24 13:13] pgte opened #10 "CRDT: persistence"
## Goal

Provide a way for CRDTs built on top of IPFS to easily improve their persistence by replicating to other non-participating nodes, without the user having to delegate any permissions or keys.

[2018-01-24 13:14] pgte opened #11 "CRDT: Tracking"
- [x] [Map CRDTs on top of IPLD](https://github.com/ipfs/dynamic-data-and-capabilities/issues/1)
- [x] [Garbage Collection](https://github.com/ipfs/dynamic-data-and-capabilities/issues/2)
- [x] [CRDT over IPLD Performance](https://github.com/ipfs/dynamic-data-and-capabilities/issues/3)
- [x] [CRDT persistence](https://github.com/ipfs/dynamic-data-and-capabilities/issues/10)
- [x] [CRDT: identify a

[2018-01-24 14:54] pgte opened #12 "CRDT: identify authorship"
When a peer creates a DAG node, contain enough information that allows other peers to verify the authorship.

[2018-01-24 14:55] pgte commented on #12
related: [authenticating DAG node authorship](https://github.com/ipfs/js-ipfs/issues/1182).

[2018-01-24 17:02] daviddias opened #13 "Other projects??"
https://github.com/ipfs/dynamic-data-and-capabilities/blob/master/README.md#current-endeavours doesn't contemplate PeerPad, Tevere, y-ipfs-connector and all the other things created by this group. Can you add those @pgte ?

[2018-01-25 09:37] #13 closed, assigned to nobody

[2018-01-29 10:13] pgte commented on #3
By disabling DHT (which, for our purposes so far, does nothing useful), we get a benchmark improvement (see [this](https://github.com/ipfs/js-ipfs-bitswap/pull/164#issuecomment-361182350)), but this still doesn't prevent a single get from taking around 10 seconds to resolve.

I have a strong suspicion (backed by some runtime stats I gathered) that this is due to the high number of peers that gets

[2018-01-31 09:06] daviddias commented on #3
With a direct connection? Woa, something is wrong there. //cc @beanow and @ya7ya who have explored Bitswap perf in the past too

Very much likely.

Agreed. We need the Connection Manager implemented for js-libp2p. go-libp2p currently limits the number of peers connected, however, for js-ipfs we will need something that the Application can hint which peers we are interested on.

Wanna take the lead

[2018-01-31 12:33] pgte commented on #3
@diasdavid Yes, I'm glad to take the lead on this one :)

I think I'd like to solve this resource optimisation first and, like you said, then try to parallelise computation if still needed.

In the CRDT case, I need a module that will tell the application about these events:

* peers joining
* peers leaving
* changes in resource usage for each peer (bandwidth, # of messages, ...)

The application

[2018-01-31 17:46] Beanow commented on #3
I noticed similar slow retrieval even for localhost and lan peers. While I haven't had time to get to the bottom of this, my primary suspects were very aggressive peer discovery when webrtc/websockets star is enabled, and the chatter that creates potentially blocking other connections due to js-land crypto work piling up.

Be sure to check whether a large amount of dial attempts happen and how man

[2018-02-01 08:53] pgte commented on #3
@Beanow thanks, that's also on my usual suspects list, I'll be keeping an eye for peer discovery overhead. Once we have preemptive disconnects, that overhead should be easier to discern.

[2018-02-02 05:13] daviddias commented on #3
@pgte go for it 👍

[2018-02-06 10:14] pgte opened #14 "CRDT: Snapshotting"
Have been discussing this *A LOT* in the last few days with @diffcunha, @olizilla, @achingbrain, @miyazono, @diasdavid and some others.

## Problem

Right now, new peers coming into a CRDT will have to download the entire operations tree in order to be in sync.

## Proposed solution

### Basic idea

The basic idea is to somehow eventually include a snapshot in the local log, which is then naturall

[2018-02-08 14:51] dmonad commented on #14
I want to share some of my insights of the snapshot approach:

In Yjs@v12 I offered a storage layer that basically persists all changes on the shared document as separate entries in the local database (indexeddb or leveldb). But as soon as users make more than +10k changes on the document, the initial load increases drastically.

In Yjs@v13 I use a snapshot approach. Changes on the shared document

[2018-02-09 15:06] pgte commented on #14
@dmonad I don't think IPNS would work for this, unless each peer uses a separate namespace, in which case you'd need a way to discover these.

In my idea, the local operation log is a chain of log entries, where each entry results in a hash and has the following data:

* ids of the parent entries
* operation data

To mutate the CRDT, a peer appends to the local log an entry with `[previousOperatio

[2018-02-09 16:16] dmonad commented on #14
You don't really have to think about causality when working with Yjs. Yjs reconstructs causality pretty easily using Lamport Timestamps.

Makes sense. I didn't know that js-ipfs works offline yet. Cool!

How does this HEAD approach work? I assume it is similar to link a hash to a namespace. What happens if two users do that at the same time? What happens if a user with a slow network connection ov

[2018-02-09 17:23] pgte commented on #14
Makes sense, and has the same effect as what I described. Which means that if local causality is represented in Y.js (with vector clocks or whatever), then it's easily translatable into a DAG to be able to store it in a content-addressable store like IPFS. (A vector clock represents a tree of events, much like an IPFS DAG).

Each node reports it's own HEAD on the same pubsub channel. This means th

[2018-02-12 19:37] awgneo commented on #4
Hello @pgte, is there any way I can follow your research and first approach? I am very interested in ACL on IPFS.

[2018-02-13 21:42] dmonad commented on #14
Thanks for the explanation @pgte! Sorry for not answering sooner..

I got the HEAD approach now. So this is specific to the pubsub implementation. Do you think there is a way to persist the HEAD(s) in the network, so we can use it without any collaborator participating?

[2018-02-14 11:52] pgte commented on #14
@dmonad the HEAD is not specific to the pubsub implementation. It uses the generic pubsub mechanism (where peers subscribe to a given topic) for peers to know about each other's HEAD content ids.

I don't see a need to persiste the HEADs in the network, since, when receiving a HEAD from a remote peer, a peer fetches and integrates the missing log entries, and, if it conflicts, creates a merge oper

[2018-02-14 14:31] dmonad commented on #14
Something I find limiting in peerpad is that it is not possible for a new peer to open the document without having a peer already in the session. This is why I asked if it is possible to store the HEAD in the network.

Ideally we use pubsub only to notify users about changes. I think it would be great if we could store the document directly in the IPFS network - so any user can access it anytime.

[2018-02-14 14:39] pgte commented on #14
Ha, I understand your question now. I see two generic paths to achieve persistence:

1. Replication node

Have a bunch of nodes that are permanently connected and replicate a CRDT (which is possible to do in peer-crdt without knowing the contents).

2. Put it on the DHT

IPFS has a DHT, which can be be used to make content available while the original provider is offline. In theory, a new particip

[2018-02-14 15:27] dmonad commented on #14
My argument is that if we have a replication node anyway, it would be more efficient to use the Yjs storage model and let Yjs sync with the other peers.

It would be awesome though if we could use the existing IPFS technology and build a distributed app on top of it. With IPNS it is already possible to do that (though it might be inefficient - I don't know that). The advantage to use existing tech

[2018-02-26 21:10] fritzy commented on #12
I'm going to see if I can make a y.js datatype that is signed and verified.

[2018-02-27 02:12] dmonad commented on #12
Hey @fritzy

You could do this on the type level. But I think it makes more sense if we would encrypt all messages that are exchanged between the users. This way we have a bit of entropy in the encrypted messages. Also we don't want attackers to deduce content from the document structure.

A simple approach would be to use AES encryption and share the secret with the users that are allowed to edit

[2018-03-02 19:59] fritzy opened #15 "A custom signed type that respects ACL and identity for y.js"
I'm starting a new y.js data-type to serve an eventual Blog Platform DApp. The original idea was to make a y.js type that had built in ACL and signing. For the past few days, I've been experimenting with this.

The only documentation for doing this is very out-of-date, so I've been pouring through code. It now looks like the easiest thing might be to modify the map type.

The needs:
* signed data

[2018-03-02 20:02] fritzy commented on #15
The goal is to only sync metadata, and to generally refer to IPFS file URIs for content. The y.js or peer-crdt types would only be used to define relationships and references to file objects.

I'm wondering if @pgte and @dmonad have thoughts on this approach.

[2018-03-05 07:58] fritzy commented on #15
After working with modifying y-map, it looks like I'd have to modify how operations were handled in y.js in order to sign delete operations (inserts are fine, because I can just sign the contents). I'm going to work with peer-crdt, as it already seems to have signing.

@pgte in peer-crdt, if a node relays an operation that it did not author, does it re-sign the operation, or is the original signat

[2018-03-05 09:34] pgte commented on #15
@fritzy in peer-crdt an operation can be signed and encrypted before it's stored in IPFS, which means that the operation can be relayed without modification by any node (using the IPFS DAG API).

[2018-03-05 15:22] fritzy commented on #15
@pgte do you have time for a 45 minute call for me to pick your brain this week? I'm working on getting a js dapp going this month. If you don't have time, I can keep posting questions and plans selling comments here.

I was planning to use js-ipfs pubsub to distribute the crdt based on topic discovery of app structured metadata, with Uris to ipfs files for content. The js-ipfs nodes are fairly ep

[2018-03-05 15:26] fritzy commented on #15
More accurately I need to put up the basic scaffolding for a dapp this week.

[2018-03-05 16:39] fritzy commented on #15
I'll make an experiment, using https://github.com/ipfs-shipyard/peer-crdt-ipfs and to see if each peer validates the same signature. Thanks @pgte

[2018-03-05 16:44] pgte commented on #15
@fritzy yes, sure, tell me 2 or 3 time slots that suit you and I'll try to fit in :)

[2018-03-05 16:51] fritzy commented on #15
@pgte Today (March 5) at 1pm PST (9pm GMT), tomorrow (March 6) at 9am PST (5pm GMT) or either of those times on the 7th. If need be, I can do 6am PST tomorrow March 6 (2pm GMT)

[2018-03-05 21:39] pgte commented on #15
@fritzy 7th 5pm GMT works for me.

On 5 Mar 2018, 16:52 +0000, Nathan Fritz <notifications@github.com>, wrote:

[2018-03-08 10:40] daviddias commented on #14
New paper "Efficient Synchronization of State-based CRDTs” https://arxiv.org/abs/1803.02750

[2018-03-20 21:41] daviddias opened #16 "Biweekly Call"
@pgte we talked about how it will be good and how we are ready to have a Weekly Call for this WG multiple times. Anything thing I can help getting this scheduled?

[2018-03-21 10:16] pgte commented on #16
Sorry about the delay, I've been in catch-up mode after recovering from some sick days.
I'm thinking we could do a bi-weekly meeting landing on every other Tuesday 16:00 GMT.
First meeting would be on April 3rd.

@diasdavid sounds good? Since you're more familiar with who's working on what these days, it would be great if you could list some people I could invite..

[2018-03-21 15:47] daviddias commented on #16
@fritzy, @haadcode, @dmonad for sure will be interested :) @diffcunha, @diffcunha, @olizilla, @alanshaw, @fsdiogo, @hugomrdias, @vasco-santos might be interested too.

You know what they say, "Host the Weekly Call and they will come" :)

[2018-03-21 15:51] daviddias commented on #16
@pgte added to the calendar

<img width="302" alt="image" src="https://user-images.githubusercontent.com/1211152/37720629-ec6c03e4-2ce4-11e8-8bac-906a0fb04c93.png">

Can you create a Zoom recurring meeting using your Zoom account (at protocol.zoom.us) and past the url here so that I can update the calendar event? Thanks!

[2018-03-21 15:55] pgte commented on #16
@diasdavid Thanks!
Here is is: https://protocol.zoom.us/j/586782711

[2018-03-21 15:56] pgte commented on #16
@diasdavid Just received the invitation and there is a Google Hangouts URL in there (which I think Google automatically puts). Could you remove this so that people don't get confused?

<img width="468" alt="inbox_ _protocol_labs__9_messages_" src="https://user-images.githubusercontent.com/47910/37720985-5d5c84d0-2d20-11e8-9747-47c0dbd68797.png">

[2018-03-21 16:04] daviddias commented on #16
@pgte added and fixed

[2018-03-21 16:05] pgte commented on #16
@diasdavid thank you! :)

[2018-03-21 19:33] diffcunha commented on #16
@diasdavid can you send me an invite as well to diogo.f.cunha@gmail.com

[2018-03-21 19:58] daviddias commented on #16
@diffcunha, it is better for you to subscribe to the calendar at https://github.com/ipfs/community#calendar so that you don't get spammed ad-eternum.

[2018-03-22 16:53] awgneo commented on #4
I am also down to assist in this effort in any way @pgte. :) Let me know if I can help.

[2018-03-22 16:58] pgte commented on #4
Thanks Alex!

You can help in many ways. If you have experience or ideas in this subject, you can list some alternatives here. Or you can give feedback once alternatives are presented here. Thanks for your interest!

On 22 Mar 2018, 16:53 +0000, Alex Groleau <notifications@github.com>, wrote:

[2018-03-22 17:08] awgneo commented on #4
@pgte is there a way I can get to the actual research completed thus far? I don't seem to see any links to anything in this issue.

[2018-03-23 14:27] pgte commented on #4
There's nothing written down. Just dispersed personal knowledge.
It would be great to start compiling the State of the Art in research and papers and decentralised platforms (and some platforms may be interesting too to investigate, like Matrix.org, for instance).

[2018-03-23 14:28] pgte commented on #4
Here is a very old survey about ACLs in networked FS (probably useless, or perhaps some gems could be found here): https://repository.upenn.edu/cgi/viewcontent.cgi?article=1130&context=cis_reports

[2018-03-23 14:33] pgte commented on #4
## Matrix.org:

* identity service: https://github.com/matrix-org/matrix-doc/blob/master/specification/identity_service_api.rst
* signatures: https://github.com/matrix-org/matrix-doc/blob/master/specification/appendices/signing_json.rst
* end-to-end encryption: https://github.com/matrix-org/matrix-doc/blob/master/specification/modules/end_to_end_encryption.rst

[2018-03-23 14:35] pgte commented on #4
## Tahoe LAFS:

https://tahoe-lafs.org/trac/tahoe-lafs

Somewhere in this doc capabilities are discussed: https://tahoe-lafs.org/trac/tahoe-lafs/browser/docs/architecture.rst

[2018-04-02 14:09] pgte opened #17 "Biweekly Sync Up April 3, Tuesday 2pm UTC"
Hello!

Our very first Dynamic Data and Capabilities Working Group meeting will take place tomorrow, Tuesday at 2pm UTC!

This call will be a place for everyone interested in:

to share progress, plans, discuss and pick priorities.

+ Meeting: https://protocol.zoom.us/j/586782711
+ Notes: https://cryptpad.fr/code/#/1/edit/7Rg5efVdl+CrqvAkmRqH2Q/QZH1bR6Zku7G2+F1Xn1Vxd1J/

@diasdavid has added this

[2018-04-03 12:42] pgte commented on #16
📅 [First biweekly call is today 2pm UTC!](https://github.com/ipfs/dynamic-data-and-capabilities/issues/17)

[2018-04-03 15:10] #17 closed, assigned to nobody

[2018-04-03 15:10] #16 closed, assigned to nobody

[2018-04-03 15:15] pgte commented on #7
Some links to the latest research I've been following:

* [A Gentle Introduction to Self-Sovereign Identity](https://bitsonblocks.net/2017/05/17/a-gentle-introduction-to-self-sovereign-identity/)
* [Decentralised Identity Foundation](http://identity.foundation/)
* [Rebooting Web-of-Trust](http://www.weboftrust.info/)
* [Decentralized Public Key Infrastructure](http://www.weboftrust.info/downloads/

[2018-04-04 14:45] pgte commented on #7
Just found another source of definitions on Self-Sovereign Identity, this time from Sovrin (which IBM just joined):
https://sovrin.org/wp-content/uploads/2018/03/Sovrin-Protocol-and-Token-White-Paper.pdf

//cc @b5

[2018-04-04 14:47] pgte commented on #1
I consider this done, tracking the snapshot, garbage collection and audit in other issues.

[2018-04-04 14:47] #1 closed, assigned to nobody

[2018-04-06 14:45] daviddias commented on #17
@pgte is the recording uploaded?

[2018-04-06 16:12] pgte commented on #17
Yes, it’s here: https://www.youtube.com/watch?v=vYLinVuy8fw

On 6 Apr 2018, 15:45 +0100, David Dias <notifications@github.com>, wrote:

[2018-04-09 18:05] pgte opened #18 "meeting is biweekly"
@diasdavid could you please change the meeting o the calendar? It's bi-weekly, which means the next meeting should be on the 17th.

[2018-04-10 06:12] daviddias commented on #18
Done :)

[2018-04-10 06:12] #18 closed, assigned to nobody

[2018-04-10 14:52] b5 commented on #7
Thanks for the links @pgte, I've started compiling research into a hackpad:
https://hackmd.io/s/H17TwVqsz
I'm going to keep cranking on that until I feel up to speed on the DID (Distributed Identity) & SSI (Self Soverign Identity) landscape. Others, feel free to edit!

[2018-04-10 15:22] pgte commented on #7
@b5 That's awesome, keep us posted!

[2018-04-12 02:48] JonKrone commented on #15
Have you made progress on these awesome ideas @fritzy?

I've been thinking about a file store + share dapp: https://github.com/ipfs-shipyard/peer-star/issues/1 this week and came to many of the same conclusions regarding encryption, acls, distribution over pubsub, and relying on the crdt structure to hold metadata but uris for content. Great to read this and find that our thoughts converged.

I'm

[2018-04-17 07:44] pgte commented on #2
Interesting discussion around ORDTs and garbage collection in this research issue:
https://github.com/ipfs/research-CRDT/issues/32

[2018-04-17 10:43] pgte opened #19 "Biweekly Sync Up April 17, Tuesday 2pm UTC"
+ Meeting: https://protocol.zoom.us/j/586782711
+ Notes: https://cryptpad.fr/code/#/1/edit/YzW2IcGeyHB5slR5gju4wg/UkEo1LPLYFnAgkQK8ODJS39v/

@diasdavid has added this to [the IPFS Community Calendar](https://github.com/ipfs/community#calendar), which you can subscribe to.

See you then!

[2018-04-17 15:06] pgte commented on #19
Video: https://www.youtube.com/edit?o=U&video_id=b_UsT9mYMwg

[2018-04-18 10:08] pgte opened #20 "Biweekly Sync rescheduled"
As [requested by some](https://github.com/ipfs/research-CRDT/issues/22#issuecomment-382329276), we're moving the time for our biweekly call to 4pm GMT. This should increase the probability of people in the USA west coast to be able to join.

Next meeting will be on [May 1st, 4pm GMT](http://everytimezone.com/#2018-5-1,240,5yid).

@diasdavid could you please update the community calendar?

[2018-04-18 10:09] pgte opened #21 "Calendar alert"
@diasdavid Could you set up a 5 minute calendar alert (or do you consider that to be too annoying?).

[2018-04-18 10:12] pgte opened #22 "Biweekly Sync Up May 1st, Tuesday 3pm UTC"
+ Meeting: https://protocol.zoom.us/j/586782711
+ Notes: https://cryptpad.fr/code/#/1/edit/S4K6unARtqptm1xeEp0R2A/smgErLIof0dHhbtGUTjqJ8ui/

See you then!

[2018-04-18 10:13] #19 closed, assigned to nobody

[2018-04-18 11:44] daviddias commented on #20
good call. done! :)

[2018-04-19 15:03] pgte commented on #20
Thank you!

[2018-04-19 15:03] #20 closed, assigned to nobody

[2018-04-23 07:53] harrshasri opened #23 "Explain IPFS PubSub Behaviour over WebSockets-Star Topology"
Hi @diasdavid David,

I integrated IPFS successfully into my App at https://dukaanbabu.com
But I Didn’t publish the ipfs update into the Store yet.

Bcoz of a couple of reasons

I know I have to wait for DHT implementation in JS-IPFS.
But I am wondering about the scalability on websockets-star topology as of now.

As of now, I am using websockets-star for PubSub

But I didn’t understand how websoc

[2018-04-23 07:54] daviddias commented on #23
@pgte mind getting this one?

[2018-04-23 07:56] daviddias commented on #21
@pgte Alerts are personal, not a calendar thing. If you see that people are not showing up or simply missing the meeting, consider:

- Announcing it through email to the most active folks on the DDC on IPFS
- Announce it on #ipfs one hour before and then 5 mins before
- Tweet about it
- Announce it at the IPFS All Hands.

[2018-04-23 08:45] pgte commented on #23
Hi @harrshasri,

This is based on my recent sparse knowledge of the ipfs and libp2p stack, so please @diasdavid correct me if I'm wrong or imprecise.

There are two layers in your question. First is the floodsub algorithm (which is the current naive implementation of pubsub in ipfs) and then there is the websocket-star protocol.

Floodsub is a very naive and simple protocol: when a peer connects,

[2018-04-23 08:47] #21 closed, assigned to nobody

[2018-04-23 08:53] harrshasri commented on #23
@pgte
So, it is flooding via the Signalling-Server
Which means the Signalling-Server is having the
Bandwidth cost of not only the  **peerInfo** but also **message/content** transfer between nodes.

Did I understand correctly?

[2018-04-23 08:55] pgte commented on #23
Correct. It's the nature of websockets: they don't allow direct p2p connections, while the webrtc-based ones do.

[2018-04-23 08:58] harrshasri commented on #23
But we don't have PubSub for webrtc functioning as of now, right?

[2018-04-23 09:03] pgte commented on #23
Webrtc works (through the [libp2p-webrtc-star](https://github.com/libp2p/js-libp2p-webrtc-star#readme) transport), and it allows pubsub (treats it transparently as any other multiplexed algorithm).

[2018-04-23 09:08] harrshasri commented on #23
I will give a try once again. But last week when I tested it didn't discover its peer. Thats why I asked you this question.

 So What happens in **WEBRTC** for pubsub peerDiscovery?

Is everybody in the network swarmed after rendezvous signalling and floodSub Query to its peers based on the topic?
**Or**
They swarm based on the topic via Rendezvous server and floodsub  the content?

[2018-04-23 09:11] pgte commented on #23
It's the same process as described, with the exception that the p2p connections should happen directly, without needing a relay server.

[2018-04-23 09:12] harrshasri commented on #23
Okay, so does It swarm everybody irrespective of the topic?
If there are 1000 nodes in the room
every client opens 1000 connections right?

[2018-04-23 09:21] pgte commented on #23
No, it still uses the floodsub protocol irrespective of transport:

[2018-04-23 09:37] harrshasri commented on #23
So when subscribing to every peer it knows. What if the topic is not published by those known peers?
[ this.peers.forEach((peer) => sendSubscriptionsOnceReady(peer))](https://github.com/libp2p/js-libp2p-floodsub/blob/d4e6cced9bd60d87c74fde02dc9ca1fdcf0199ef/src/index.js#L340)

[2018-04-23 09:42] harrshasri commented on #23
I'm sorry I didn't understand this part.

[2018-04-23 10:05] pgte commented on #23
In floodsub, a node must declare interest in a topic for it to get messages on that topic.

When receiving a message from a remote node, a node only forwards that message to a known node if and only if that node is interested in that topic.

This simplistic approach has (besides others), the downside of poorly-connected nodes have a low probability of getting messages on unpopular topics.

[2018-04-23 10:10] harrshasri commented on #23
So would you recommend DHT For my use case as the PubSub peer & content discovery takes time?

[2018-04-23 10:11] pgte commented on #23
Could you describe your use case? What would you use pubsub for?

[2018-04-23 10:12] harrshasri commented on #23
I understand the dynamics PubSub play when there are no Publishers. But even when we have enough publishers. But not within the known list of peers on the node which is subscribing. How do they discover the publishers?

[2018-04-23 10:13] pgte commented on #23
They don't explicitely. To receive the message on a given topic, each node must already be connected to a publisher or to a node that's interested in that topic.

[2018-04-23 10:14] harrshasri commented on #23
I am sharing Price Data which is published by some users in their wish list And people who are browsing the product page will subscribe and retrieve the price history.

This is a subscriber

![pricegraph](https://user-images.githubusercontent.com/35241544/39120791-219655f8-46b5-11e8-9d4e-bcb8152e256f.png)

Who queries within the other  publishers to get the price data

[2018-04-23 10:33] pgte commented on #23
@harrshasri does my last answer answer your question?

[2018-04-23 10:33] harrshasri commented on #23
Aah! Thats why It didnt work for me in WebRTC the data wasnt transferring. As WebSockets are acting as 2HOP relay . This app was working.

Now It makes sense.

I have only two options.
1)WebSockets
2)PubSub over DHT

[2018-04-23 10:35] harrshasri commented on #23
I need to now think upon scalability requirements of Rendezvous Server.

Until DHT is implemented in JS-IPFS.

One more query do we have BitSwap in JS-IPFS yet?

[2018-04-23 10:36] pgte commented on #23
Yes, bitswap is the block exchange protocol, used in the object, files and DAG APIs.

[2018-04-23 10:38] harrshasri commented on #23
But we aren't leveraging that in PubSub Layer, are we?

[2018-04-23 10:56] pgte commented on #23
pubsub does not use bitswap.
Pub-sub is designed to be a real-time(ish) best-effort topic-based message delivery system and has nothing to do with the content-addressable part of IPFS.

[2018-04-23 13:17] harrshasri commented on #23
Oh! I was thinking PubSub is done on top of BitSwap.
There is some research involving PubSub Over DHT.
Which I think is very necessary if I want to remove the 2hop relay.
Or to make it completely decentralised.

**https://discuss.ipfs.io/t/dht-on-pubsub-and-general-pubsub-improvement/1692/2**

[2018-04-27 16:07] marcoonroad commented on #2
With a hash of the previous operations embedded within further operations, nodes can participate the network with just the latest entries. It's the sort of the thing which both Git and the Blockchain use for storage optimizations & validations. Checkpoints could be hard-coded, for example, after 1000 operations, everyone needs to be synchronized on that point to start a new chain from scratch. The

[2018-04-27 16:10] marcoonroad commented on #2
(I've not read that paper, tho. I'll read soon as possible.)

[2018-04-30 07:57] pgte commented on #2
@marcoonroad sounds like a good strategy in general, but since there is no consensus layer in CRDTs, how do we make this converge?
My problem is that given that the local state is an operation tree that may be different in every node, I wouldn't know **when** to generate a checkpoint. Any insights?

[2018-05-01 00:40] marcoonroad commented on #2
Oh, you're right. CRDT are consensus-free. There's no valid Byzantine general story to agree upon, since all Byzantine stories are valid and eventually a derived common story is listened by all nodes.

[2018-05-01 00:47] marcoonroad commented on #2
Oh, and sorry. Synchronization on a distributed/P2P network is almost impossible. I have forgot that entirely! CRDTs are a quite complex & recent topic.

[2018-05-01 12:17] gpestana commented on #22
@pgte just to make sure, is the call happening today at 2pm or 3pm UTC?

[2018-05-01 13:15] pgte commented on #22
@gpestana It's happening today at 3pm UTC. :)

[2018-05-01 13:20] pgte commented on #22
Fixed issue title, thanks @gpestana !

[2018-05-01 15:48] pgte commented on #22
Meeting recording: https://youtu.be/HnGXjNrVIic

[2018-05-03 10:14] pgte opened #24 "Biweekly Sync Up May 15th, Tuesday 3pm UTC"
+ Meeting: https://protocol.zoom.us/j/586782711
+ Notes: https://cryptpad.fr/code/#/1/edit/41BoHIBez6lQHFtNLQhbTQ/uRFy1BzmSyXHbBN-OFZcKtyf/

See you then!

@diasdavid it looks like this meeting is not recurring on the community calendar. Could you please add this? Thank you!

[2018-05-04 13:59] pgte commented on #7
Interesting paper to read regarding Self-Sovereign Identity (SSI):
[Technical details of Sovrin](https://sovrin.org/wp-content/uploads/2018/03/The-Technical-Foundations-of-Sovrin.pdf):

[2018-05-08 20:45] fritzy commented on #14
To get back at the topic at hand, I think snapshots would be useful locally, but not globally. If we can make the DAG traversal of operations efficient on the local machine, what we actually need to optimize is network. Since each DAG object must be retrieved in serial, then the sharing of DAG rollups would remove the need to do this.

If I join a pubsub channel with a particularly old HEAD, anoth

[2018-05-08 22:43] fritzy commented on #15
@JonKrone So, instead of doing this at the type level, we're implementing sign, verify, and validate hook methods that can be used for any peer-crdt type.

The single-depth stuff was to produce a table like model-collection type, but that's very separate from the goals of validating authorship, and may or may not apply to permissions.

You can see an example of this in ipfs-shipyard/peer-crdt-plat

[2018-05-09 08:06] pgte commented on #14
@fritzy what do you mean by "rollups", and how are they different from "snapshots"?
If a rollup is a grouping of several operations bundled together, I think this should be treated as a sync optimisation and should be handled at the sync layer (graph swap or graph sync, whatever it's being called these days..).

The problem here is that this does not scale well in time, as the volume of operations

[2018-05-09 17:28] fritzy commented on #14
What about snapshots that occur during a fork or netsplit? What about snapshots created by a malicious client?

I don't think you can have a shared snapshot without either authority or consensus.

[2018-05-09 17:43] fritzy commented on #12
Encryption and ACL is a separate issue from authorship (authentication vs. authorization).

All DAG entries should be signed by a session key of the author. The session key refers to a Decentralized Identifier that contains the public session key https://w3c-ccg.github.io/did-spec/ and is attested by an identity service which provides a proof of identity. https://hackmd.io/s/H17TwVqsz#

When you r

[2018-05-09 17:46] fritzy commented on #11
The above links are not working.

[2018-05-09 17:55] fritzy commented on #14
Rollups are either lists of dag nodes, or the dag nodes themselves as one object. Yes, it won't scale forever, but perhaps CRDTs are of limited practical use after a non-trivial number of entries. This might be an application layer problem since an application can choose an authority/author for a particular document to have the final say and archive it with a snapshot. If a snapshot includes a rol

[2018-05-09 22:03] fritzy commented on #14
I suppose if a snapshot refers to a specific head, are signed, and you trust that user, they'd be okay (as you described @pgte). It's just that you can't merge anything previous to the snapshot unless you retrieve the full DAG eventually. I suppose it's a workable trade-off in some cases. I'm jumping around on this, I know.

[2018-05-10 09:13] pgte commented on #11
@fritzy thanks for reporting, should be fixed now.

[2018-05-10 10:14] pgte commented on #14
@fritzy no worries, this has been a long debate, and I think we're getting to the point.

### 1. Trust

As you say, snapshots are signed and, since the CRDT protocol does not solve the problem of malicious intents, snapshots should be trusted:
If a node that has write access and wants to, for instance, erase the entire document, it can. Of course, there could be non-malicious errors in that snapsh

[2018-05-11 08:33] pgte commented on #6
Being addressed through https://github.com/ipfs-shipyard/peer-star/issues/6

[2018-05-13 17:50] pgte opened #25 "CRDT: ACL"
An administrator of a shared document should be able to assign different capabilities to different actors and revoke them. Besides reading and write provileges, the admin should be able to delegate administration.

How should such the ACL be propagated and integrated in the CRDT in a way that is convergent and allows replicas to enforce these capabilities when receiving remote updates.

[2018-05-13 17:57] pgte opened #26 "Identifying authorship in state-based CRDTs"
Auditing the authors of an op-based CRDTs is very accessible: all the operations can have a distinct author.

State-based CRDTs don't have this property. How should a state-based CRDT keep track of the operations and authors? Ideally, this knowledge should be eventually garbage collection as the operations get older.

[2018-05-15 11:12] gpestana commented on #2
I've been thinking about this problem for a bit but TBH, haven't checked much literature on the subject. So, I'm sorry if I'm suggesting something which might be trivial or useless because it has been described somewhere else 😅

**Rationale**

I agree with @pgte when [he says](https://github.com/ipfs/dynamic-data-and-capabilities/issues/2) that GC seems to boil down to 'initiate and being able to

[2018-05-15 15:37] pgte opened #27 "Biweekly Sync Up May 29th, Tuesday 3pm UTC"
* Meeting: https://protocol.zoom.us/j/586782711
* Notes: https://cryptpad.fr/code/#/1/edit/QetfopclzrLUFM44vJxepg/5VwZGP+x9+YeSaM6hGVVxzWT/

See you then!

[2018-05-15 15:39] pgte commented on #24
Meeting video here: https://youtu.be/eO-WDwu6moU

[2018-05-15 15:39] #24 closed, assigned to nobody

[2018-05-15 16:34] pgte commented on #2
I think I understand this proposal, which I think can be resumed to: When I think all the nodes have the same view of the CRDT, I make a snapshot.

One question: when nodes diverge (make concurrent edits), each will have a different HEAD operation. Although their state will be eventually equal, the last operation is potentially different: they can receive operations in different orders, etc.

So I

[2018-05-15 17:10] #23 closed, assigned to pgte

[2018-05-16 08:38] pgte commented on #2
@gpestana ah, I realize that you still need gossip to know what is the network view of other nodes (the list of nodes).

[2018-05-16 09:47] vitorenesduarte commented on #2
Hi everyone.
It seems that you're talking about **stability**.

It's something like this:
_message m is stable on some node, if all operations this node will deliver from now on, will be in the future of m_

Note that stability is a local property, meaning that, if _m_ is stable on some node, it's not necessarily stable on all.

[2018-05-16 10:43] gpestana commented on #2
Thanks for the comments @pgte. My thoughts:

Good point! The `last_operation` should be the oldest operation applied in the local document in terms casual order. Or maybe to ensure that non-dependent operations are not missing, how about a list of all operations applied to each replica? (or an hash of the list)

Exactly. The idea is for the node to keep not only his view of the network but also ev

[2018-05-16 11:13] pgte commented on #2
@gpestana Ah, sorry, I was thinking more of how using this you could create a snapshot (to perhaps sync remote nodes faster), but this is directly related to garbage collection.

Which means that a replica is going to truncate all the operations below this "snapshotting point", right?

Let's consider then this scenario:

- we start with only two replicas, rA and rB.
- rB is writing.
- rA is only r

[2018-05-16 12:11] vitorenesduarte commented on #2
@gpestana A consequence of all next operations being in the future of some stable operation _m_,
is that all nodes have applied _m_.
It is a local property in the sense that nodes may not know all the operations that have been applied by all.
But if some node **A** says _m_ is stable and another node **B** does not see it as stable yet, _m_ is stable, and **B** will know it "soon".

[2018-05-17 07:23] gpestana commented on #2
@pgte that makes sense. Let's say this network has only 3 replicas (rA, rB, rC). The assumption is that if rC is part of the network, rA or rB know about it and keep rC in their network maps (because either of them shared the state with rC when it joined the network - let's say rC was the last node to join the network).

Thus, rA and rB can only truncate the document when rC has the same network m

[2018-05-17 10:27] pgte commented on #2
@gpestana an interaction diagram of this would be super :)

So, at one time rB can be the only one to know about rN (maybe because rB just now discovered rN).
rA doesn't yet know about rN, it thinks that the network is only constituted by rA and rB. rA has an inconsistent view of the network, which makes it perform garbage collection.
If, by doing so, rA removes operations that are in the past of

[2018-05-17 14:30] Alexis211 commented on #2
I have no knowledge of how IPFS works but I was just reading about CRDTs and thinking about garbage collection. It's funny that I stumbled upon this discussion just as it is happening.

Here is my idea: can we get nodes to agree implicitly on which CRDT states are checkpoints by observing a common rule? For example we could calculate a hash of the state and decide to checkpoint only if the first n

[2018-05-17 20:18] pgte commented on #2
@Alexis211 yes, I think that's a valid protocol where you replace explicit consensus with implicit. But I think this is better suited to creating snapshots (for faster sync), but can't be safely be used to truncate the operation log (because of the nodes that may be offline).
If you're interested in this snapshotting discussion, you can check issues/14#issuecomment-387657177.

[2018-05-17 20:20] pgte commented on #2
adding @satazor and @marcooliveira, they're interested in GC for CmRDTs.

[2018-05-28 07:51] pgte commented on #25
There are 2 related papers that may be interesting:

- [Access Control for Weakly Consistent Data Stores](http://www.complang.tuwien.ac.at/kps2015/proceedings/KPS_2015_submission_25.pdf)
- [ACGreGate: A Framework for Practical Access Control for Applications using Weakly Consistent Databases](https://arxiv.org/abs/1801.07005)

They talk about how an ACL needs to be causally consistent with the dat

[2018-05-28 07:54] pgte commented on #25
@mweberUKL @bieniusa could you offer an insight on this issue above? Thank you!!

[2018-05-28 08:39] pgte commented on #2
So I've recently learned about causal stability (from @vitorenesduarte and a colleague I cannot find on Github). Let me see if I get this right:

A given operation (or, more generally, message) is causally stable if all operations to be received are in the future of this operation. This means that, if am operation is stable, we don't expect more operations that are concurrent to this operation, an

[2018-05-28 08:45] pgte commented on #14
This recent discussion on the GC thread about __causal consistency__ also applies to fast booting:
https://github.com/ipfs/dynamic-data-and-capabilities/issues/2#issuecomment-392461046

[2018-05-28 08:48] pgte commented on #2
(Found @gyounes on Github. Thank you!)

[2018-05-28 12:01] mweberUKL commented on #25
First of all, the problem pointed out depends on two factors: First, a revoke operation that does not get effective without the possibility to enforce the permission restriction and second, a malicious replica sending out operations which should not be valid according to your normal operation.

In our model, the replicas are assumed to be trustworthy. This rules out that malicious replicas send ma

[2018-05-28 12:49] pgte commented on #25
@mweberUKL thank you for your insight!

[2018-05-28 15:41] pgte commented on #27
Some discussions in the agenda for tomorrow's meeting:

- identity:
    - discuss proposal for key management and address book ([PR](https://github.com/ipfs-shipyard/peer-star/pull/9))
- peer-crdt-ipfs:
  - specific protocol to increase sync speed
  - add vector clocks to enable this
  - handshake protocol
- garbage collection:
  - how to infer causal stability as presented [here](https://github.c

[2018-05-28 18:32] gpestana commented on #2
Yes, that's a very good approach to find a snapshot point locally, IMO. I was trying to explain the same above but you did it so much better and clearly! Also, I recently found out that this is similar to the idea of maintaining matrix clocks locally, instead of vector clocks. With matrix clocks the local replica maintains a view of the whole network and locally decide when to snapshot - just as y

[2018-05-28 21:25] pgte commented on #2
Yes, it’s a similar approach, with the same efffect.
One important thing I forgot to mention:
Removing a replica requires coordination amongst remaining nodes. Since a remaining node can have operations from a node about to be removed, it’s required to query all nodes about this before effective removal.

[2018-05-29 08:56] gyounes commented on #2
@pgte, so we didn't get the time to talk about how op-based CRDTs are used in IPFS. Also, are the that you use merkle trees causal ?

[2018-05-30 07:46] pgte opened #28 "Question: how are op-based CRDTs being used in IPFS?"
[Asked here](https://github.com/ipfs/dynamic-data-and-capabilities/issues/2#issuecomment-392703662).

[2018-05-30 07:56] pgte commented on #28
IPFS does not use CRDTs at all underneath. It's more that some apps that use IPFS all want dynamic collaborative data, and hence the use of CRDTs on top of the IPFS network.
IPFS has nice P2P primitives that allow peer discovery, peer routing, content routing, DHT, pubsub and other services. Also, it exposes an immutable DAG API. We're leveraging some of these to create CRDTs on top.

We've been i

[2018-05-30 07:56] pgte commented on #2
@gyounes I'm deferring this to a [specific issue](https://github.com/ipfs/dynamic-data-and-capabilities/issues/28) I created for this purpose. :)

[2018-05-30 07:58] pgte commented on #28
Ah, one more thing: in peer-crdt we're using the DAG API to represent the operations. Where the dependencies are represented as links between nodes. Also, a merge node is a content-less node with two parent links.

[2018-05-30 08:05] vitorenesduarte commented on #2
I was wondering why the current implementation does not require something like VCs, and, from what I understand, it's because all causal information is encoded in the DAG of operations.
This probably means that VCs won't be needed to detect which operations are stable.
If a node knows the HEADs from all the other nodes, it could compute the greatest common ancestor (GCA) [1] of all these HEADs, an

[2018-05-30 12:10] gyounes commented on #28
This ^ is what I wanted to know more about. So you mean the DAG you are using is what represents the partial order log of operations that you wanted to make more compact by adding some garbage collection mechanism? Or is it a different one?
It would be great if you can point me to any documentation, video, slides... that explain how it works. If those are not available I can check the code.

[2018-05-30 12:57] pgte commented on #2
@vitorenesduarte yes, that's a good point. The thing with vector clocks is that this computation can be done without I/O, while the other we need to traverse the DAG nodes. On the other hand, the latest DAG nodes can be kept in a memory cache, but it will still be less efficient that using VCs.

[2018-05-30 13:00] pgte commented on #27
#Meeting nodes:

# Dynamic Data and Capabilities WG — May 29th, 2018

- **Lead:** Pedro Teixeira (@pgte)
- **Notetaker:** @joaosantos15
- **Attendees:**
	- @gpestana
  - @diasdavid
  - @joaosantos15
  - @satazor
  - @pgte
  - @lance
  - @fritzy
- [**Zoom.us meeting URL**](https://protocol.zoom.us/j/586782711)
- **Recording**

## Agenda

- Ask everyone to put their name into the list of attendees
-

[2018-05-30 13:02] pgte commented on #27
Video URL: https://www.youtube.com/watch?v=U1GK88QiX2Q

[2018-05-30 13:02] #27 closed, assigned to nobody

[2018-05-30 13:06] #22 closed, assigned to nobody

[2018-05-30 13:09] pgte opened #29 "Scheduled: Dynamic Data and Capabilities WG bi-weekly meeting— June 12, 2018"
4pm GMT

Meeting: https://protocol.zoom.us/j/586782711
Notes: https://cryptpad.fr/code/#/2/code/edit/SvqjtRu1h4qaNedHWE-5qcAD/
See you then!

[2018-05-30 19:34] pgte commented on #28
@gyounes unfortunately there is no reference to the internals of these specific DAG structures.
Here is my current brain dump on this:

Speaking generally how the DAG API works in IPFS, here is the API: https://github.com/ipfs/interface-ipfs-core/blob/master/SPEC/DAG.md

In peer-crdt, the The IPFS DAG store is being used here:
* local set and get: https://github.com/ipfs-shipyard/peer-crdt-ipfs/bl

[2018-05-31 00:47] lanzafame commented on #7
@pgte I am linking to this ipfs/notes#292 here as a more complex use case for identities. I haven't elaborated the identities part thoroughly yet, but there are quite a few scenarios that I learnt about when participating in the medical software industry that I think would be beneficial to at least be aware of when designing ipfs identity system. I will try and get them up by the next WG meeting,

[2018-06-01 08:30] pgte commented on #7
@lanzafame thank you for those notes, they're super helpful!
@satazor are working on something that will lead to a collaborative knowledge-base, where they have many of these problems, he should take a look at your notes!

Obviously, the medical industry has very strong requirements regarding these subjects, with strong emphasis in identity self-sovereignty, privacy, etc. It's invaluable that you

[2018-06-01 11:04] pgte commented on #14
Dumb question: isn't a valid snapshot the internal state + a the local vector clock?
Wouldn't sending this state be enough to bootstrap new replicas be enough?

As I see it, they would be able to:
* get and incorporate operations in the future of the local vector clock (as long as all the dedendencies are already incorporated)
* discard operations that are in the past of the local vector clock, as

[2018-06-01 16:51] pgte commented on #14
@gyounes with your op-based CRDTs knowledge in hand, would you say something like this (see entry above) would work? My intuition tells me that yes, but it has fooled me before..

[2018-06-05 14:42] gyounes commented on #14
I guess partially yes, it works but it is not complete.
1) A peer would join to contribute, and therefore must have seen everything past to their join event before they can make any changes.
2) Another thing is that after a peer joins, changes about membership should reflect this join. For instance, the use of vector clocks, where each entry represents a peer, should have an additional entry for t

[2018-06-07 14:36] pgte commented on #8
This may interest you: Identity Management RFC: https://github.com/ipfs-shipyard/peer-star/issues/14

[2018-06-07 14:36] pgte commented on #7
This may interest you: Identity Management RFC: https://github.com/ipfs-shipyard/peer-star/issues/14

[2018-06-08 13:46] pgte commented on #7
May be interesting checking out this article: [Managing Identity with a UI for ERC 725](https://medium.com/originprotocol/managing-identity-with-a-ui-for-erc-725-5c7422b38c09)

(via @satazor)

[2018-06-08 14:33] satazor commented on #7
The IdentityManager proposed on ipfs-shipyard/peer-star#15 is very similar to what the UI for ERC 725 is but with a few differences:

- The IdentityManager embraces several DID methods and, as a consequence, several blockchains. We will probably focus on Ethereum  based DID methods first, such as `uport` or `erc725`, as Ethereum is more widely adopted and stable. You may check [registry](https://w

[2018-06-08 18:14] joaosantos15 commented on #7
I think ERC-725 and Origin Protocol deserves a little more digging. We should learn its relation to the DID-spec, exactly how they generate proofs that rely on a central authority (e.g. email verification) and analyse whether it could be used for what we are trying to achieve with some minor tweaking.

[2018-06-11 08:50] pgte commented on #14
@gyounes I see, this join protocol is to guarantee that all peers must know about the new peer before it starts contributing so that it’s contributions can be integrated later by everyone.
But in a network with high churn this may  be hard to achieve..
What if, when a peer joins, it’s sufficient that one of he nodes acknowledges it and integrates the new peer in it’s “causal stability table”? This

[2018-06-12 15:50] pgte commented on #29
Meeting notes:

# Dynamic Data and Capabilities WG — June 12, 2018

- **Lead:** Pedro Teixeira (@pgte)
- **Notetaker:** @satazor
- **Attendees:**
	- please add yourself here
  - @pgte (Pedro Teixeira)
  - @satazor (André Cruz)
  - @mkg20001 (Maciej Krüger)
  - @joaosantos15 (João Santos)
  - @xmal (Carlos Baquero)
  - @fritzy (Nathan Fritz)
- [**Zoom.us meeting URL**](https://protocol.zoom.us/j/58

[2018-06-12 15:56] pgte opened #30 "Scheduled: Dynamic Data and Capabilities WG bi-weekly meeting— June 26, 2018"
4pm GMT

Meeting: https://protocol.zoom.us/j/586782711
Notes: https://cryptpad.fr/code/#/2/code/edit/ie94ZD6P1-emRFKTZ2+hJZLP/

See you then!

[2018-06-12 15:56] #29 closed, assigned to nobody

[2018-06-13 03:13] lanzafame commented on #7
@pgte @satazor @b5 @joaosantos15 Sorry, got bogged down in cluster stuff, but I have updated the ipfs/notes#292 issue with the first identity scenario (it is at the bottom, apparently markdown anchors don't work in GitHub issues 😞 ) and it is a scenario I believe, though would love to be corrected, doesn't have a solution within any existing identity/auth infrastructure. Would love to hear some fe

[2018-06-13 16:50] gritzko commented on #2
My personal intuition is rooted in Web systems, where lots of clients come and go. It is impossible to differentiate temporary departures from permanent departures.
Generally, if a system can have flash crowds then VC is not a good option.

[2018-06-18 07:15] amark commented on #2
@pgte & others, I'm very confused - I've spent ~9 years on CRDTs and last 4 building GUN ( https://github.com/amark/gun ) which is the most popular CRDT library out there and one of the most popular P2P/decentralized projects in general. I am confused because:

Most CRDTs resolve state and compact automatically - thus why they are called commutative. Why is GC even being discussed?

The only CRDTs

[2018-06-18 07:26] amark commented on #28
You guys should consider seriously integrating with [GUN](https://github.com/amark/gun), we've solved most of the CRDT & cryptography questions in our research and implementation. I've spoken to Juan over the years (even warned him about the problems that would happen if everything was based on hashes alone, back in 2014 at #hashtheplanet squat conference), and David reached out to me more recentl

[2018-06-18 07:46] pgte commented on #2
@amark Even though there may have been some conflict-free structures and work before that, the term was officially coined in [the seminal paper in 2011](https://scholar.google.pt/citations?view_op=view_citation&hl=en&user=NAUDTpMAAAAJ&citation_for_view=NAUDTpMAAAAJ:M3ejUd6NZC8C)...

## About garbage-collection:

As [described in the seminal paper](https://scholar.google.pt/citations?view_op=view_c

[2018-06-18 07:49] gritzko commented on #2
The term was formally defined in 2011, I believe.

It does not look that crowded though.

Regarding the "commutative" part:
https://en.wikipedia.org/wiki/Commutative_property
http://swarmdb.net/articles/acid2/

[2018-06-18 08:06] amark commented on #2
@pgte @gritzko I know, I didn't hear the term/phrase CRDT until several years later. Doesn't mean people weren't working on them prior to 2011.

Obviously my bias is for state based CRDTs, having an op-based CRDT just sounds like a lot of event-sourcing / append-only log work (I abandoned this approach in 2012 / 2013 when I couldn't get it to scale), the state-based approach does though.

@gritzko

[2018-06-18 08:35] gritzko commented on #2
That's for sure. I had Causal Trees working in 2008 when B.Cohen pointed out its similarity to weave. And weave is grey-bearded classics of revision control (1972).
https://bramcohen.livejournal.com/49535.html?thread=765311#t765311

I can't disagree more.

Add-to-log is a perfectly commutative op if we produce a sorted timestamped log.
Like, most of the time the last op should be simply appended,

[2018-06-18 08:51] amark commented on #2
@gritzko nice!!! If Bram 👍 it, then that gives high-confidence it is good. I recently had the honor of meeting him after doing a lightning talk before him and got to chat with him in his office for a few hours. If you live in the Bay Area, lets meet (I just moved here, finally!).

Sorting logs is ~ O(N) which === my comment about it not being scalable. Could you elaborate on why you disagree?

[2018-06-18 09:01] gritzko commented on #2
Sorting is O(NlogN). That is for the entirety of the process, assuming unsorted inputs.
Simply loading/saving data is O(N), obviously.
Appending is O(d).

[2018-06-26 17:02] pgte commented on #30
# Meeting notes:

-----

# Dynamic Data and Capabilities WG — June 26, 2018

- **Lead:** Pedro Teixeira (@pgte)
- **Notetaker:**
- **Attendees:**
	- please add yourself here
  - @pgte (Pedro Teixeira)
  - @fritzy (Nathan Fritz)
  - @mkg20001 (Maciej Krüger)
  - @joeltg (Joel  Gustafson)
- [**Zoom.us meeting URL**](https://protocol.zoom.us/j/586782711)
- [**Recording**](https://youtu.be/gBtAt0qTIUU

[2018-06-27 18:23] pgte opened #31 "calling for volunteers to host the July 10th meeting"
Next DDC-WG meeting would be on July 10th. I can't make it, so we have two alternatives:

a) either someone volunteers to host it or
b) we postpone to the week after, which will be July 17th.

I'll wait to see if someone volunteers here before this Friday. Otherwise, I'll resolve to postpone it.

[2018-07-07 10:58] gpestana commented on #31
@pgte I could help with this. Let me know what you think and how I can setup the call in zoom and whatnot if we hold the call on Tuesday.

[2018-07-08 16:57] pgte opened #32 "Scheduled: Dynamic Data and Capabilities WG bi-weekly meeting— July 10, 2018"
4pm GMT

Meeting: https://protocol.zoom.us/j/586782711
Notes: https://cryptpad.fr/code/#/2/code/edit/exH55BxcxISO4uOyyqVXs7vg/

Lead: @gpestana

[2018-07-08 16:59] pgte commented on #31
Thank you @gpestana ! I created the respective issue, which has the zoom and pad links: https://github.com/ipfs/dynamic-data-and-capabilities/issues/32

You should be able to use zoom to record this to your local drive if you can. If you have time, please test the URL and try to record something to see if it works.

[2018-07-08 16:59] #30 closed, assigned to nobody

[2018-07-08 18:48] gpestana commented on #32
@pgte is it possible to give me host permissions? I'm getting an error when trying the recording:

<img width="437" alt="screen shot 2018-07-08 at 20 41 56" src="https://user-images.githubusercontent.com/1398860/42422888-c38176c4-82ef-11e8-8eee-f29cbed7d908.png">

I'm connected with my personal google account (g6pestana@gmail.com)

[2018-07-09 17:46] pgte commented on #32
Unfortunately I can't seam to be able to add hosts outside of PL team. Can you host the meeting yourself, on another URL? If so let me know, and I'll change the meeting URL.
Otherwise, we'll skip recording on this one...

[2018-07-10 15:19] gpestana commented on #32
Only me and @fritzy were present in the call and since we didn't have recording permissions, we only added the notes to [cryptpad](https://cryptpad.fr/code/#/2/code/edit/exH55BxcxISO4uOyyqVXs7vg/).

[2018-07-10 18:47] pgte commented on #32
Ok @gpestana, thanks!

[2018-07-11 11:12] satazor commented on #26
Related to #7 #8  and https://github.com/ipfs-shipyard/peer-star/pull/15

There's a specific section in the RFC explaining how to verify authorship via signatures: https://github.com/ipfs-shipyard/peer-star/blob/c249510b4873a9a4b58b245bf97dbe48513a2689/docs/rfc-identity.md#verifying-signatures

[2018-07-16 15:39] daviddias opened #33 "DDC modules need Lead Maintainers"
I've experienced first person today how hard it is to get a fix on a DDC module, even with the PR open, CI passing and everything looking good.

Currently, pretty much every module is only @pgte's hands and given the increased amount of endeavours that the DDC has been taking, it is natural to see that some were without updates for a while. That said, I still think that seeing a module out of date

[2018-07-23 16:19] #31 closed, assigned to nobody

[2018-07-23 16:20] pgte commented on #32
Notes:

----

# Dynamic Data and Capabilities WG — July 10, 2018

- **Lead:** Gonçalo Pestana (@gpestana)
- **Notetaker:**
- **Attendees:**
	Gonçalo Pestana (@gpestana)
	Nathan Fritz @fritzy
- [**Zoom.us meeting URL**](https://protocol.zoom.us/j/586782711)
- **Recording** No recording since call didn't take place (notes below)

## Agenda

1. Start recording
1. Ask everyone to put their name into t

[2018-07-23 16:20] #32 closed, assigned to nobody

[2018-07-23 16:23] pgte opened #34 "Scheduled: Dynamic Data and Capabilities WG bi-weekly meeting— July 24, 2018"
4pm GMT

Meeting: https://protocol.zoom.us/j/586782711
Notes: https://cryptpad.fr/code/#/2/code/edit/vS0KgvSUMTgHW7gbjalSHqZa/

See you there!

[2018-07-24 16:22] satazor commented on #34
Too bad I couldn't attend due to personal affairs :(

I would have made a demo showing a TODO app being converted to a DApp :/

[2018-07-24 16:23] pgte commented on #34
No worries, we'll do a recording of that in the next week or so :)

[2018-07-24 17:19] pgte commented on #34
## Notes:

-----

# Dynamic Data and Capabilities WG — July 24, 2018

- **Lead:** Pedro (@pgte)
- **Notetaker:**
- **Attendees:**
  - @mkg20001
  - @pgte
  - @gpestana
- [**Zoom.us meeting URL**](https://protocol.zoom.us/j/586782711)
- [**Recording**](https://youtu.be/x4hO-Jblfic)

## Agenda

1. Start recording
1. Ask everyone to put their name into the list of attendees
1. Ask for a volunteer to

[2018-07-24 17:19] #34 closed, assigned to nobody

[2018-07-28 17:11] pgte opened #36 "Next Working Group Meeting"
(Placeholder for the next meeting)

The next meeting is June 5th 2019 at 4PM GMT #77
Meeting URL: https://protocol.zoom.us/j/463453857
Notes: https://cryptpad.fr/code/#/2/code/edit/IU3tHOYG10iv3uc3d-o-RJ2l/

Part of [the IPFS Community Calendar](https://github.com/ipfs/community#calendar).

[2018-08-07 09:56] pgte opened #37 "Scheduled: Dynamic Data and Capabilities WG bi-weekly meeting— August 7, 2018"
August 7, 4pm CET

* [Meeting (zoom)](https://protocol.zoom.us/j/586782711)
* [Notes](https://cryptpad.fr/code/#/2/code/edit/KBEO1yCXCSUZJff4J9AJhWBm/):

See you there!

[2018-08-07 16:55] pgte commented on #37
## Meeting notes:

------

# Dynamic Data and Capabilities WG — August 7, 2018

- **Lead:** Pedro (@pgte)
- **Notetaker:**
- **Attendees:**
  - @pgte
  - @satazor
- [**Zoom.us meeting URL**](https://protocol.zoom.us/j/586782711)
- [**Recording**](https://youtu.be/TNEJNk5lZT0)

## Agenda

1. Start recording
1. Ask everyone to put their name into the list of attendees
1. Ask for a volunteer to take

[2018-08-07 16:55] #37 closed, assigned to nobody

[2018-08-13 09:46] pgte opened #38 "Mid-Quarter OKR Scoring for Q3 2018"
(Taken from https://github.com/ipfs/pm/issues/668:)

To all people that have attributed KRs assigned:

* Do a score of your KRs on its current state (0 to 1 with regards to completion) - Mid-Q Actual Column
Do a score of your KRs on what you believe the degree of completion by the end of the Quarter (0 to 1) - Mid-Q Projection Column
* Do a self-check on Priorities. See if the things you are worki

[2018-08-13 09:54] pgte commented on #38
Things that I am incredibly pumped about:

- [ ] after watching a bunch of cool network visualisations in DWeb Summit and being how useful they are to understand and debug a p2p network, I've now completing the peer-star-app collaboration stats and visualization.
- [ ] identity and ACLs: understanding what is a good cryptographic model for public and private social networks. If we can generalise t

[2018-08-13 10:13] satazor commented on #38
Rest of the quarter for me:

- 2 weeks of holidays, starting 16 of August
- 3 weeks work towards having [Discussify POC - phase 1 completed](https://github.com/ipfs-shipyard/pm-discussify#poc---phase-1)
- 1 week working on Identity Manager v0

The next quarter will be to continue the work on the Identity Manager, integrate it with peer-star-app and Discussify and have all of this ready for MozFest

[2018-09-18 09:21] pgte opened #39 "Scheduled: Dynamic Data and Capabilities WG bi-weekly meeting— September 18, 2018"
September 18, 4pm CET

* [Meeting (zoom)](
https://protocol.zoom.us/j/586782711)
* [Notes](https://cryptpad.fr/code/#/2/code/edit/3e4NlDCRwITCVgAN018UHi3m/)

See you there!

[2018-09-18 18:05] pgte commented on #39
Meeting video: https://www.youtube.com/watch?v=EiJE59uYNAk&feature=youtu.be

Meeting notes:

-----

# Dynamic Data and Capabilities WG — September 18, 2018

- **Lead:** Pedro (@pgte)
- **Notetaker:**
- **Attendees:**
  - @andreforsousa
  - @pgte
  - @satazor
  - @jimpick
  - @dirkmc
- [**Zoom.us meeting URL**](https://protocol.zoom.us/j/586782711)
- [**Recording**](https://youtu.be/EiJE59uYNAk)

#

[2018-09-18 18:05] #39 closed, assigned to nobody

[2018-09-18 19:14] pgte opened #40 "Scheduled: Dynamic Data and Capabilities WG bi-weekly meeting— October 2nd, 2018"
October 2nd, 4pm CET

* [Meeting (zoom)](
https://protocol.zoom.us/j/586782711)
* [Notes](https://cryptpad.fr/code/#/2/code/edit/Iy37TDWYPEi3cumJjnfp1HiS/)
* [Video recording](
https://youtu.be/KKVj0lkXJpg)

See you there!

[2018-09-23 13:13] pgte opened #41 "2018Q3 retrospective"
In the light of https://github.com/ipfs/pm/issues/698, WG participants please create your 2018 Q3 retrospective:

https://docs.google.com/document/d/1afXAcg5W6z3YCep2Ec7NICtEkdHCPtSXLzgUl-MGX5c/edit#heading=h.q1d6nr6cv02b

[2018-09-23 13:47] pgte opened #42 "2018Q4 OKR brainstorming"
Brainstorm happening here.
https://hackmd.io/_jolw2DZQzCUKwUrJcp02A?both

To review this Monday and Tuesday.

[2018-09-23 13:49] pgte commented on #42
@jimpick please accept invite and feel free to chime in :)

[2018-09-25 14:10] satazor opened #43 "IdentityManager v0"
As part of the 2018 Q4, we want to develop a initial version of the [IdentityManager](https://github.com/ipfs-shipyard/peer-star/blob/rfc-identity/docs/rfc-identity.md) to prove that the concept works and is technically possible.

- [ ] Implement a very rudimentary UI
- [ ] Implement importing uPort identities
- [ ] Implement authenticate to apps
- [ ] Implement sign (with session key)
- [ ] Imple

[2018-09-26 11:17] pgte commented on #42
First draft is ready for review here: https://docs.google.com/spreadsheets/d/139lROP7-Ee4M4S7A_IO4iIgSgugYm7dct620LYnalII/edit?ts=5b9fcc7c#gid=412099511

[2018-10-02 09:23] #41 closed, assigned to pgte, satazor

[2018-10-02 09:23] #42 closed, assigned to nobody

[2018-10-02 17:01] pgte commented on #40
Meeting notes:

------

# Dynamic Data and Capabilities WG — October 2nd, 2018

- **Lead:** Pedro (@pgte)
- **Notetaker:**
- **Attendees:**
   - @pgte
   - @satazor
   - @jimpick
   - @arkadiy
   - @dirkmc
   - (please add  your handle here)
- [**Zoom.us meeting URL**](https://protocol.zoom.us/j/586782711)
- [**Recording**](https://youtu.be/KKVj0lkXJpg)

## Agenda

1. Start recording
1. Ask everyo

[2018-10-02 17:01] #40 closed, assigned to nobody

[2018-10-02 17:05] pgte opened #44 "Scheduled: Dynamic Data and Capabilities WG bi-weekly meeting— October 16th, 2018"
October 16th, 4pm CET

* [Meeting (zoom)](
https://protocol.zoom.us/j/586782711)
* [Notes](https://cryptpad.fr/code/#/2/code/edit/xOeXsu8bPSEdpahbzy9yG-+J/)

See you there!

[2018-10-16 18:32] pgte commented on #44
# Meeting notes:

-----

# Dynamic Data and Capabilities WG — October 16th, 2018

- **Lead:** Pedro (@pgte)
- **Notetaker:**
- **Attendees:**
   - (please add  your handle here)
   - @pgte
   - @satazor
   - @aschmahmann
   - @jimpick
   - @andreforsousa
   - @dirkmc
- [**Zoom.us meeting URL**](https://protocol.zoom.us/j/586782711)
- [**Recording**](https://www.youtube.com/watch?v=TNlrTjphZRs)

##

[2018-10-16 18:32] #44 closed, assigned to nobody

[2018-10-16 18:35] pgte opened #45 "Scheduled: Dynamic Data and Capabilities WG bi-weekly meeting— October 30th, 2018"
October 30th, 5pm CET

* [Meeting (zoom)](
https://protocol.zoom.us/j/586782711)
* [Notes](https://cryptpad.fr/code/#/2/code/edit/+sWSo2y9v1P2MKbriCe-NF1E/)

See you there!

[2018-10-29 16:21] pgte commented on #45
Daylight saving time kicked in and, according to the Community Calendar, next meeting is **tomorrow at 5pm CET**, (and not 4pm CET as stated before).

See you there!

[2018-10-30 22:24] pgte commented on #45
# Meeting notes:

# Dynamic Data and Capabilities WG — October 30th, 2018

- **Lead:** Pedro (@pgte)
- **Notetaker:** @jimpick
- **Attendees:**
   - @dirkmc
   - @satazor
   - @aschmahmann
   - @jimpick
   - @victorbjelkholm
   - @andreforsousa
   - @marcooliveira
   - @pgte

- [**Zoom.us meeting URL**](https://protocol.zoom.us/j/586782711)
- [**Recording**](https://www.youtube.com/watch?v=Dd1SBqE

[2018-10-30 22:24] #45 closed, assigned to nobody

[2018-11-04 12:13] daviddias opened #46 "Where can I find the notes for the Biweekly?"
<img width="291" alt="image" src="https://user-images.githubusercontent.com/1211152/47963957-74a93400-e033-11e8-9d40-1ccc095db6a6.png">

No url is linked on the calendar event.

[2018-11-05 11:51] pgte commented on #46
@diasdavid the notes pasted at the end of each of the meeting:
https://github.com/ipfs/dynamic-data-and-capabilities/issues?utf8=✓&q=is%3Aissue+is%3Aclosed+meeting

Each bi-weekly has its own issue in this repo.

I suggest that the calendar event should point to https://github.com/ipfs/dynamic-data-and-capabilities/issues/36

(Unfortunately I don't think I have the capacity to change community cal

[2018-11-05 18:10] daviddias commented on #46
@pgte may I recommend to submit the notes as PRs to the repo? Makes it simpler to review/comment/follow up.

@pgte added you as an admin of the community calendar with your @protocol.ai account.

[2018-11-13 09:26] pgte opened #47 "Scheduled: Dynamic Data and Capabilities WG bi-weekly meeting— November 13th, 2018"
November 13th, 5pm CET

* [Meeting (zoom)](
https://protocol.zoom.us/j/586782711)
* [Notes](https://cryptpad.fr/code/#/2/code/edit/wXz3YpshfYjRvYE9x-m0q+IG/)

See you there!

[2018-11-13 18:35] pgte commented on #47
Notes PR: https://github.com/ipfs/dynamic-data-and-capabilities/pull/48

[2018-11-13 18:35] #47 closed, assigned to nobody

[2018-11-13 18:37] pgte opened #49 "Scheduled: Dynamic Data and Capabilities WG bi-weekly meeting— November 27th, 2018"
4PM GMT

Call: https://protocol.zoom.us/j/586782711

Notes: https://cryptpad.fr/code/#/2/code/edit/Q5KUgpMWeq+o+uvC4IciAQSN/

[2018-11-13 18:38] pgte commented on #46
@diasdavid thank you! Updated.

[2018-11-13 18:38] #46 closed, assigned to pgte

[2018-11-14 08:41] #38 closed, assigned to pgte, satazor

[2018-11-20 11:31] satazor opened #50 "Concurrent version history - versidag"
Hello!

A common requirement for projects is to have concurrent version history. This is a use-case in Discussify where one must have the ability to view a comment history (updates & removes). Instead of resolving this common problem in an adhoc manner, what if we created a module that can be reused across projects?

After brainstorming with @pgte, where's what I came up with:

-----------

# vers

[2018-11-20 11:37] satazor commented on #50
Note that this API is stateless. I will make another proposal using a stateful API shortly to see how they compare.

[2018-11-20 11:46] satazor commented on #50
Here's a proposal for a stateful version of the API:

# versidag

[code]

--------

# ipfs-versidag

Wrapper to `versidag` with the `write` and `read` functions already configured:

[code]

-------------

I don't want to spoil anyone's feedback, but I prefer the stateful API.

[2018-11-20 13:13] marcooliveira commented on #50
I like it, maybe use `create` and `resume` instead of `createVersidag` and `resumeVersidag`? It's already contextualised, seems a bit redundant, and I can rename if I want when importing.

Re stateless vs stateful, don't have a strong opinion. Don't see huge wins in any.

Stateful seems a bit more ergonomic when using on a daily basis.

On the other hand, with the stateless version, there might be

[2018-11-20 13:47] olizilla commented on #50
Could you say a little more about the use-case? Can you show how it'd be used in discussify? What would it look like if we used it in jenkins to track website release versions like https://github.com/ipfs/jenkins-libs/blob/9c3778503a6dc0ef1147dbff7cf043d032846bd1/vars/website.groovy#L113-L115

[2018-11-20 15:07] satazor commented on #50
@olizilla sure, I will try to explain Discussify use-case:

Lets say that I've created a comment with `foo`. Later, I've edited the comment concurrently in two difference devices generating two different versions: one with `foo 1` and another with `foo 2`. By concurrent, I don't mean only at the same point in time but also other scenarios, such as when both devices were offline. When the devices m

[2018-11-20 15:17] aschmahmann commented on #50
I agree that a versioning API would likely make life easier for development. A couple of things to think about:

You can already use a DAG as a versioned data structure with every sibling node being a branch/concurrent edit, this means that we don't need any new data structures just an API for examining and merging branches. I'm actually using this technique to synchronize changes in a multiwriter

[2018-11-20 15:21] satazor commented on #50
That's exactly what this proposal uses underneath, a DAG.

Correct 👍

I haven't though about using an event driven approach. Would you have some time to sketch it out?

[2018-11-20 15:25] aschmahmann commented on #50
Sure, this week is turning into spec week for me. I'll try and get to it today/tomorrow.

[2018-11-20 15:33] aschmahmann commented on #50
Also @magik6k may have some input from the IGiS side of things (where versions are tracked, but there is no automerge function).

[2018-11-21 00:45] magik6k commented on #50
So to apply this to git commit history usecase I think this would need 2 things:
* Read-only mode (merge shouldn't be needed as history already has common head)
* Ability to filter non-commit objects out (as an option to `versidag.resolve`)

cc @dirkmc

[2018-11-23 16:41] dirkmc commented on #50
👍

For IGiS we also have the comments use case - when someone leaves comments on a PR or issue they can edit their own comment

[2018-11-23 16:45] dirkmc commented on #50
Also worth noting that there are some similarities with OrbitDB log:
https://github.com/orbitdb/ipfs-log

[2018-11-26 13:08] satazor commented on #50
@dirkmc yes there are a lot of similarities. The differences I spot are:

- versidag is agnostic to IPFS
- versidag is not opinionated in how the the entries are merged (ipfs-log uses vectorclocks)
- ipfs-log doesn't use the ipld but ipfs-versidag will; this allows use to use the dag explorer to see the version history
- ipfs-log seems to store more stuff in-memory than it needs, e.g.: if 10k stuf

[2018-11-26 16:15] aschmahmann commented on #50
@satazor I was thinking that an event-based versidag could be useful in the case of listening to a channel for updates and then processing them as if they were a versioned document. I'm not sure exactly which use cases are most applicable for you, so please chime in with any suggestions and changes.

### versidag-event

[code]

Notice that `merge` is missing. The idea here is that `merge` is simpl

[2018-11-27 19:09] #49 closed, assigned to nobody

[2018-11-28 14:20] pgte opened #52 "Scheduled: Dynamic Data and Capabilities WG bi-weekly meeting— December 11th, 2018"
4PM GMT

Call: https://protocol.zoom.us/j/586782711

Notes: https://dev.peerpad.net/#/w/markdown/4eiXmnC1Mkfp8T5RCXuZrqGpg3z5J9uFkc1x1wSM53DR/4XTTMAsJxQtUU8sxouPkT5HaP76ykhiLPxgA346Z2npKgKvqx-K3TgUoguYJNmW7XziGKJ15dyqekvSCpNgUX8RZ63d3THK6gGwpDQRrfeHLCTmSrBVyj9xbK84wfJBRr25i1AYnA2zYZGzwpAqVPErWnmHXmwCDD6Xx8NhVGriTK3ijV5EywMpa8z

[2018-12-02 14:57] haadcode commented on #50
Hi everyone :wave:

As the original author of [ipfs-log](https://github.com/orbitdb/ipfs-log), I would like to provide some thoughts on what's discussed here with the hope that, perhaps, there's good grounds to collaborate. What's been discussed is very much the same ideas and questions we've gone through over the years in `ipfs-log` and I feel it'd be great if we, as members of the IPFS community

[2018-12-05 16:25] satazor commented on #50
@haadcode Thanks for shimming into this issue, your comment was very valuable.

I see an opportunity for both `versidag` and `ipfs-log` to use a common module, perhaps named `dag-log`. It would essentially be a less opinionated version of `ipfs-log`/`versidag` and it would be capable of:

- Adding new entries to a Merkle-DAG, in a deterministic way
- Merging the current heads with other replica's

[2018-12-05 16:54] aschmahmann commented on #50
@satazor looks good to me. I need something similar on the Go side. I'm currently exploring interfaces as described at https://github.com/ipld/replication/pull/3/files and applying it to multiwriter IPNS as described https://github.com/aschmahmann/ipshare/blob/master/sync/MultiWriterIPNS.md.

They look pretty similar though which is certainly a good thing. We should probably talk at some point abo

[2018-12-08 16:50] pgte commented on #14
Right now we opted for ∂-state-CRDTs to avoid having to deal with this issue.
May reopen this thread in the future if we decide to use op-based CRDTs.

[2018-12-08 16:50] #14 closed, assigned to nobody

[2018-12-08 16:51] pgte commented on #10
Done in the pinner of peer-star-app.

[2018-12-08 16:51] #10 closed, assigned to nobody

[2018-12-08 16:51] #15 closed, assigned to nobody

[2018-12-08 16:52] pgte commented on #2
Right now we opted for ∂-state-CRDTs to avoid having to deal with this issue.
May reopen this thread in the future if we decide to use op-based CRDTs.

[2018-12-08 16:52] #2 closed, assigned to nobody

[2018-12-08 16:54] pgte commented on #3
Peer-star-app deals with this by not relying in IPLD for real-time replication.
May revisit this in the future if IPLD replication is better for Merkle-logs.

[2018-12-08 16:54] #3 closed, assigned to nobody

[2018-12-08 16:55] pgte commented on #28
Right now we're using ∂-CRDTs in peer-star.

[2018-12-08 16:55] #28 closed, assigned to nobody

[2018-12-08 16:56] #11 closed, assigned to nobody

[2018-12-08 16:57] pgte commented on #7
Research culminated in [the peer-star Identity RFC & Research PR](https://github.com/ipfs-shipyard/peer-star/pull/15).

[2018-12-08 16:57] #7 closed, assigned to nobody

[2018-12-08 17:01] pgte commented on #26
@satazor how does this relate to the latest work being done on [versidag](https://github.com/ipfs-shipyard/js-versidag)? Will we able to verify the authorship in history? If so, is it something provided by versidag?

[2018-12-08 19:43] satazor commented on #26
I think they aren’t directly related but you can store what you want in versidag. In case of discussify, whenever a new head comes from another replica, we must somehow only accept that head if it was added by the same identity that created the comment initially and discard otherwise.

[2018-12-08 19:53] satazor commented on #26
This whole topic needs to be discussed in depth, I’m mostly worried about the CRDT part. Once that is solved, any side-chain based on versidag will also be solved. Even if there are cases where it isn’t, we may add a filter option to the resolve function of versidag they could be verifying signatures.

[2018-12-08 20:42] amark commented on #2
@pgte why persistent culture of not collaborating with other projects, but then just trying to copy cat them?

[2018-12-08 20:49] amark commented on #28
Of course 6 months later, conveniently you guys "now" have a CRDT, instead of having just integrated with GUN and becoming ahead of curve. Pretty lousy team culture.

Good luck trying to figure out one of the hidden tricky issues with ∂-CRDTs that will take you about ~2 years to find.

[2018-12-08 22:26] pgte commented on #28
@amark I tried, but I never got a response from you in this thread: https://stackoverflow.com/questions/52094556/how-can-i-implement-a-lossless-crdt-using-gun

It would be amazing that you got to actually show me a lossless mutable sequence-like CRDT where we're able to safely garbage-collect and snapshot-sync built on top of Gun!

From all the contacts I've had with academics researching this fie

[2018-12-08 22:28] pgte commented on #2
@amark What are you referring to?

[2018-12-09 02:27] amark commented on #28
@pgte I pretty thoroughly provided answers and links, but shy of implementing it for you I'm not sure what further I could do.

I'm confused, what about using straight-up GUN (which is already compact, no need to garbage collect - just syncs snapshots, like you say)? You don't need to build another CRDT on top.

Take notabug.io (P2P Reddit) for example, it is has already handled a TB of daily traf

[2018-12-09 02:37] amark commented on #2
At one point during the summit, Feross got up and demoed video streaming/torrenting in the browser (a demo he has done for several years now) - then the next speaker got up, and announced IPFS was working on a new experimental custom video streaming/torrenting library. That would be fine if IPFS / WebTorrent were not aware of each other, but we've all been talking and demoing our tech to each othe

[2018-12-09 09:08] pgte commented on #28
Gun is a graph database, so it’s more ecquivalent to IPLD, although it’s mutable and not content-content addressable, and that’s not what I’m after.
If you’re interested in showing me the code of a lossless mutable sequence-like CRDT, I’d be glad to investigate this further.

[2018-12-09 09:10] pgte commented on #2
@amark this is totally out of topic and out of our control, those were community projects. If you want to contribute to the specific problem stated in this issue, please do.

[2018-12-10 06:11] haadcode commented on #50
@satazor thanks for the reply! 👍

I tried to convey in my previous reply that I believe what you're after *does* exist today in `ipfs-log` and thus wanted to propose to a) look into using it and b) collaborate to improve/fix where it falls short. It ticks all the boxes as per your requirements described in this issue.

Where do you feel `ipfs-log` is too opinionated? Perhaps we can drill into the

[2018-12-11 10:09] pgte commented on #52
Let's try and use PeerPad for this meeting.
The notes are now [here](https://dev.peerpad.net/#/w/markdown/4eiXmnC1Mkfp8T5RCXuZrqGpg3z5J9uFkc1x1wSM53DR/4XTTMAsJxQtUU8sxouPkT5HaP76ykhiLPxgA346Z2npKgKvqx-K3TgUoguYJNmW7XziGKJ15dyqekvSCpNgUX8RZ63d3THK6gGwpDQRrfeHLCTmSrBVyj9xbK84wfJBRr25i1AYnA2zYZGzwpAqVPErWnmHXmwCDD6Xx8NhVGriTK3ijV5EywMpa8z).

[2018-12-11 12:15] satazor commented on #50
In short, here's the requirements:

- [ ] Add a new node to a merkle dag and attach data to it
- [ ] Ability to merge the current merkle dag heads with other heads, creating a merge node and attach data to it
- [ ] It's important that the merge is deterministic, e.g.: we need to make sure that non-concurrent heads are removed, otherwise the replicas won't converge to the same dag node *1
- [ ] Abi

[2018-12-11 12:19] satazor commented on #50
Regarding this issue, both https://github.com/ipfs-shipyard/js-versidag and https://github.com/ipfs-shipyard/js-ipfs-versidag are ready! Should we close this issue and keep discussing in a new issue or just keep this open?

[2018-12-11 12:22] pgte commented on #50
@satazor that's great! I say we keep this one open to discuss collaboration with ipfs-log..

[2018-12-11 12:33] pgte opened #53 "Community and DDC call"
Doodle: https://doodle.com/poll/hbpe3frqae682qde

[2018-12-11 12:36] pgte commented on #53
@mikeal @jimpick @satazor @marcooliveira @dirkmc @aschmahmann @daviddias
Am I forgetting someone? Please tag them.

[2018-12-11 12:38] olizilla commented on #50
@satazor it'd be rad to organise a call with @haadcode to see how we can collaborate on `ipfs-log`. Ideally we'd help improve the existing thing and support that.

[2018-12-11 12:46] satazor commented on #50
I've created a doodle so that we can agree on a time to have a call: https://doodle.com/poll/n7rpk36cy7x9wthk

@haadcode and everyone interested, please fill it. 🕐

[2018-12-11 12:56] satazor commented on #52
@pgte the document is empty to me, have you written something?

[2018-12-11 13:12] marcooliveira commented on #53
@PedroMiguelSS, although he might have to join from the hospital. He'll let us know

[2018-12-11 14:20] pgte commented on #52
@satazor save is timing out, so it looks like the pinner is borked..
I'll try to keep my replica up and running for now..

[2018-12-11 14:36] pgte commented on #50
@satazor thanks, filled in the doodle!

@haadcode we literally came up with the versidag requirements as @satazor was developing it, it was pretty much a learning experience.
Now that we think we know what we need, I'd like us to think seriously about merging efforts. :)

[2018-12-11 17:05] haadcode commented on #50
Would be happy to jump to a call and go through everything discussed here. Filled in the doodle, thanks @satazor for coordinating! Will answer your comment above in more detail either in the call or before/after in here (short, non-complete answer is: yes, it should be able to all that right now, save for some possible changes/additions).

Looking forward to discuss more! ❤️ 👍

[2018-12-11 19:52] aschrijver commented on #7
I was wondering if anyone could provide some good pointers to DID and SSI initiatives and projects that do not involve blockchain? Or is peer-star such project? Just asked at DID spec too: https://github.com/w3c-ccg/did-spec/issues/113

[2018-12-11 20:08] satazor commented on #50
We have a match for tomorrow 11:00 gmt, I will create an event at the calendar. See you tomorrow!

[2018-12-11 20:25] satazor commented on #7
Yes, the blockchain is not a requirement. There’s a working (although outdated) DID method on IPFS, see https://github.com/jonnycrunch/ipid

This did method will probably be the first one to be supported in the IDM project that is referenced in the RFC that @pgte linked.

[2018-12-11 20:45] satazor commented on #50
@haadcode could you please email me or dm me on IRC/twitter your email?

[2018-12-12 07:47] haadcode commented on #50
@satazor reached out to you on Twitter.

[2018-12-12 08:25] #52 closed, assigned to nobody

[2018-12-12 08:28] pgte opened #55 "Scheduled: Dynamic Data and Capabilities WG bi-weekly meeting — January 8, 2019"
January 8, 2019
4PM GMT

Call: https://protocol.zoom.us/j/586782711

Notes: https://cryptpad.fr/code/#/2/code/edit/ztIPpYmtiEtQm014sDOXdWVr/

[2018-12-12 09:45] pgte opened #56 "RFC: peer-star vs. peer-base"
Now that we've migrated peer-star-app into peer-base, we need to understand what to make of peer-star.

Here is the way that I see this:

## peer-base is a library

Peer-base is a library that helps you create DApps on top of IPFS. It will contain a main library (peer-base) and can contain libraries that peer-base depend on (like peer-base-discovery, for instance).

## peer-star are DApp blueprint

[2018-12-12 12:48] marcooliveira commented on #53
Just filled Doodle. Looking forward to this!

[2018-12-12 15:02] dirkmc commented on #56
@pgte are you considering these names in a marketing sense, as in "I'm building my app on peer-base" or in terms of a github structure, as in "the code is at https://github.com/peer-base/peer-chess"?

Before I knew what peer-star was I had some trouble finding it, because when referring to the projects in a marketing sense, some people would write peer-* and some would write peer-star. So then whe

[2018-12-12 16:21] pgte commented on #56
@dirkmc so far the marketing plans on a nutshell are:

* peer-base to have its own website (and logo, etc.), containing API and references to existing blueprints, projects (@marcooliveira is figuring this out as we speak).
* peer-star is not really a place any more. We chose this to not confuse newcomers any more. We can redirect peer-star to peer-base. Not a final decision on this.

@dirkmc thoug

[2018-12-12 16:44] dirkmc commented on #56
Ah I see, that makes sense, I think peer-base is a clearer name for newcomers 👍

My point of confusion is `Peer-star is where the blueprints for how to build DApps live` - what do you mean by "where they live"?

[2018-12-12 17:19] pgte opened #57 "Textile presentation"
Tomorrow, December 13th, we're hosting a presentation by our dear Textile folks.
They're going to present their endeavours, challenges and we're going to discuss common points of interest, contributions and possibilities of collaboration.

It's going to be at:

* 6pm GMT
* 6pm WET,
* 1pm EST
* 10am PSA

Zoom URL: https://protocol.zoom.us/j/586782711

(Please ping me if you need a calendar invite)

[2018-12-12 17:20] pgte commented on #57
/cc @olizilla @lidel (please tag anyone you think may be interested)

[2018-12-12 17:49] pgte commented on #57
Meeting notes: https://docs.google.com/document/d/12FfpBbouhBxr0VnyLg59RIGyPaR36zMVw5tCG0kbL3g/edit#

[2018-12-13 08:48] aschrijver commented on #7
Thank you @satazor I'll continue to follow the development.

[2018-12-13 15:01] satazor commented on #50
First of all, sorry @aschmahmann and Mark, there was a confusion about the exact timezone and we had to shift one hour earlier otherwise @haadcode wouldn't make it.

Me, @pgte and @haadcode chatted about this matter and there were two possible solutions:

1. Introduce some changes to `ipfs-log` in order to fulfil versidag requirements, or
2. Implement a common module that would be shared by `ipfs`

[2018-12-13 15:45] jimpick commented on #56
I agree with building the branding around "peer-base" ... if people only learn one word, it should be that.

Internally, we can still use "peer-*" when we need a glob for conversation. :-)

[2018-12-13 17:41] aphelionz commented on #50
@satazor No worries about the call time. Just spoke with @haadcode and opening up all those as issues is a great next step. Thanks for organizing all those thoughts.

[2018-12-13 21:39] satazor commented on #50
Let me know when those issues are created so that I can start contributing and also close this issue.

[2018-12-13 23:29] satazor commented on #50
Closing as the issues were created in ipfs-log. I will be examining the ipfs-log codebase and be contributing to those issues.

Thanks everyone for participating in this.

[2018-12-13 23:29] #50 closed, assigned to nobody

[2018-12-14 08:50] pgte opened #58 "RFC: working group meeting: be more productive"
I don't mean to introduce more overhead, but I feel like we have some new contributors, and that a weekly sync, if kept under time and in a more strict format, would be more productive.

As a structure of the meeting, I propose the following:

* participants come in 2 minutes *before the time*, adjusting their audio and video.
* participants place their names, updates, demos and proposed agenda it

[2018-12-14 09:23] #57 closed, assigned to nobody

[2018-12-14 09:26] pgte commented on #56
@dirkmc yes, I agree, that's a bit confusing, as there's no official "home" for peer-* apps.
We plan to, when having a peer-base website, to list some blueprints there.

Perhaps we should, as @jimpick suggested, to stop talking about peer-* so that we don't confuse anyone else :)

[2018-12-14 09:48] satazor commented on #58
lgtm 👍

[2018-12-14 10:03] satazor opened #59 "I will be giving a workshop in University of Aveiro @ Portugal"
Obviously it will be about peer-base!

*Date: 20/12/2018 18:00 GMT*
*Description:
https://gist.github.com/satazor/055de251c823048817812c427e2ab604*

Here’s what I’m thinking:

1. Introduce the web of today and the web of the future. I will be giving a small talk similar to the one I gave at OPO.js, explaining how highly centralized the web is today and how it can be different. After the talk, atte

[2018-12-14 10:03] satazor commented on #59
What are your thoughts?

[2018-12-14 10:41] pgte commented on #59
@satazor this is great, thank you for letting us know!

When using a Wi-Fi hotspot, are you planning on being connected to the public infrastructure, or will you be running your own rendezvous server?

[2018-12-14 10:44] satazor commented on #59
I was thinking on using a local rendezvous server from the start. The hotspot will not be connected to the internet, it’s there just to demonstrate that we can collaborate together without a connection to the backbone.

[2018-12-14 10:51] satazor commented on #59
Also, to show that it works online as well, I can ask to switch to the university WiFi instead and ask to remove the swarm address. If it’s flaky we can switch to a local rendezvous, or even several ones running on attendees machines. Not sure if the university WiFi blocks some ports though.

[2018-12-14 14:44] dirkmc commented on #58
These are great ideas 👍

I would also suggest that people don't talk so much about the specifics of what they've been doing ("I closed bug X, implemented connection handling in the whatever, ..."). These can be listed in the notes section. Ideally this meeting time would be for discussion of blockers and what to focus on next in broad terms.

[2018-12-14 14:46] pgte commented on #58
@dirkmc great idea!, updated the proposal with this, asking for people to focus on blockers and what's next.

[2018-12-14 14:47] dirkmc commented on #59
I liked David's point about the "wow moment" when you pull out the network cable that connects to the internet. I wonder if you can simulate something similar with a router, showing that you're connected to eg google one moment, then pulling out the cable and refreshing to show you're no longer connected to google but you can still keep running over the local network.

[2018-12-14 14:49] satazor commented on #59
Yep perhaps it’s better to start with the online version (using PL WS), then switch to the local WiFi hotspot and offline and back online. That will give the wow effect :D

[2018-12-14 15:37] pgte commented on #59
Here is a quick video of me showing how you can configure peer-pad (and peer-base) to use 2 addresses (a public and a local one) at the same time to still be able to connect to each other after I switch the internet access off:

https://www.youtube.com/watch?v=XTgE2tA6Zhg

[2018-12-14 15:41] pgte commented on #59
@olizilla @lidel we briefly talked about this (having multiple websocket-star rendezvous servers) at the latest GUI and WB WG meeting ^^

[2018-12-14 17:07] pgte commented on #59
(just made the video public, sorry if it wasn't before)

[2018-12-15 02:15] lidel commented on #59
@pgte that's interesting! So as long both are online when the node starts (to avoid crash as in https://github.com/ipfs-shipyard/ipfs-share-files/issues/63#issuecomment-444565592) either of them can go offline at any point at a later time without causing any crash?

[2018-12-15 12:19] pgte commented on #59
@lidel correct, as long as you diligently handle disconnects / reconnects (if you're implementing a libp2p protocol). YMMV regarding specific libp2p / ipfs protocols (like bitswap), and it would be cool to have that experimented with! (Since I suppose there may be no or little automated tests for offline / partial / intermittent connectivity).

[2018-12-17 12:44] satazor commented on #43
I will be moving this issue to the pm-idm repo.

[2018-12-17 12:44] satazor commented on #43
@pgte It seems I don't have perm, can you do it for me?

[2018-12-17 14:05] pgte commented on #43
@satazor done.

[2018-12-17 14:08] pgte commented on #43
@satazor you mean transfer this issue to the pm-idm? Does GitHub allow to transfer issues between repos in different orgs?

Could you instead add an issue there and point this one to that one?

[2018-12-17 14:19] satazor commented on #43
Yes it allows to transfer issues across projects of the same org, which is not the case :/. Will do.

[2018-12-19 22:46] pgte opened #60 "2018Q4 Retrospective"
Quick summary retrospective of the activity this quarter: https://www.youtube.com/watch?v=VmpL2VXAb70

[2018-12-20 00:39] satazor commented on #59
@pgte Ideally, I would have two swarms: one pointing to a local rendezvous on the same LAN and another pointing to the one hosted by PL. This would allow me to "pull" the cable of the WIFI router and people would still be able to collaborate, even if they refresh the page.

At the moment, because the one hosted by PL became unreachable when I pulled the cable, IPFS doesn't start.. even if the loca

[2018-12-20 00:58] satazor commented on #59
After reading this [thread](https://github.com/ipfs/js-ipfs/issues/1619), it seems I can use https://www.npmjs.com/package/libp2p-websocket-star-multi to point to a local one and the PL one. Have you used it previously @pgte?

[2018-12-20 05:04] jimpick commented on #60
This was really great! Thank you for recording this!

[2018-12-20 14:58] dirkmc commented on #60
Really impressive how much was achieved this quarter

[2018-12-21 11:43] satazor commented on #59
The workshop went very well, everyone were able to follow it through and collaborate together on the TODO list, both online and in a (offline) LAN. A lot of questions were asked about IPFS and how the replication worked and so on, which means that people were really interested in knowing the internals.

Here are some photos:

![img_20181220_181550](https://user-images.githubusercontent.com/1017236

[2018-12-21 11:50] pgte commented on #59
@satazor thanks for this, this is great!
Could you please make sure each of these opportunities for improvement have their own issue on the root-cause repo?
Thanks!

[2018-12-21 11:53] vasco-santos commented on #59
Regarding the issues installing `peer-base`, they all seem related to `ipfs` / `libp2p`, but should be taken into account. There were people with all type of environments and package managers. IIRC, there were people using CentOS, Fedora, Xubuntu, among others.

List of common problems that people had in their environments:
- need to have `node-gyp` installed globally
- `node-gyp` requires python2

[2018-12-21 12:06] pgte commented on #59
@vasco-santos thanks, that's also useful insight! Could you please open the respective issue on js-ipfs?

[2018-12-21 12:32] satazor commented on #59
- IPFS refuses to start if one of the swarm entries is unreachable: https://github.com/ipfs/js-ipfs/issues/1619#issuecomment-449373215
- WSS support for rendezvous: https://github.com/libp2p/js-libp2p-rendezvous/issues/5
- HTTPs gateway support for js-ipfs (and probably Go as well): https://github.com/ipfs/js-ipfs/issues/1789

[2018-12-21 12:34] satazor commented on #59
@vasco-santos can you create the issue regarding the installation of IPFS on some OS's and link the issue here?

@pgte regarding the the ipfs.io gateway not being able to reach my computer under the university WIFI, I don't really know what was the issue. What do you suggest to do here?

[2018-12-21 13:39] vasco-santos commented on #59
yes, I will create the issue

[2018-12-21 14:32] pgte commented on #59
@satazor you can add that issue to js-ipfs.

[2018-12-22 13:58] satazor commented on #59
Probably related to the ipfs.io gateway issue we were observing: https://github.com/protocol/infra/issues/410#issuecomment-449551816

[2018-12-22 15:20] pgte opened #61 "RFC: Tutorials"
Brainstorming about subjects for tutorials in this document:
https://docs.google.com/document/d/1T1bIR5eJ6kOG1MUrXoEPmpbIjYRCxOEND3ajGQJ_omM/edit#heading=h.duy0a7lle7lw

Please ping here if you need access.

[2018-12-22 19:17] satazor commented on #59
Closing this and we shall track all the mentioned problems in their respective issues.

Thanks everyone for the feedback!

[2018-12-22 19:17] #59 closed, assigned to nobody

[2018-12-24 09:27] pgte commented on #61
Handing it off to @jimpick

[2018-12-27 04:47] jimpick commented on #61
Thanks for kicking this off!

[2019-01-10 08:52] pgte opened #63 "Scheduled: Dynamic Data and Capabilities WG bi-weekly meeting — January 15, 2019"
January 15, 2019
4PM GMT

Call: https://protocol.zoom.us/j/586782711

Notes: https://cryptpad.fr/code/#/2/code/edit/fibuQFfuQf59D7PUJlTDoPFh/

[2019-01-10 08:59] #53 closed, assigned to nobody

[2019-01-10 09:03] pgte opened #64 "consolidate various repos"
Started [here](https://github.com/ipfs/dynamic-data-and-capabilities/pull/62#pullrequestreview-190673290)

[2019-01-15 19:08] #55 closed, assigned to nobody

[2019-01-15 19:25] pgte opened #66 "Scheduled: Dynamic Data and Capabilities WG weekly meeting — January 22, 2019"
January 22nd, 2019
4PM GMT

Call: https://protocol.zoom.us/j/586782711

Notes: https://cryptpad.fr/code/#/2/code/edit/rFhGDxnh-hABOe5xQu364Ywk/

[2019-01-15 22:40] pgte commented on #63
Meeting notes: https://github.com/ipfs/dynamic-data-and-capabilities/pull/67

[2019-01-15 22:41] #63 closed, assigned to nobody

[2019-01-21 08:13] pgte opened #68 "RWOT papers"
compile a list of papers to read before this year’s Rebooting the Web of Trust conference.

[2019-01-23 08:54] pgte opened #70 "Scheduled: Dynamic Data and Capabilities WG weekly meeting — January 29, 2019"
January 29th, 2019
4PM GMT

Call: https://protocol.zoom.us/j/586782711

Notes: https://cryptpad.fr/code/#/2/code/edit/PTVKW80uizvfOI5h9J14Eidp/

[2019-01-23 08:55] pgte commented on #66
[Meeting notes](https://github.com/ipfs/dynamic-data-and-capabilities/pull/69)

[2019-01-23 08:55] #66 closed, assigned to nobody

[2019-01-27 22:11] satazor commented on #43
Superseded by https://github.com/ipfs-shipyard/pm-idm/issues/2

[2019-01-27 22:11] #43 closed, assigned to nobody

[2019-01-27 22:12] satazor commented on #8
Also: https://github.com/ipfs-shipyard/pm-idm/issues/2

[2019-01-30 08:51] pgte commented on #70
Meeting notes: https://github.com/ipfs/dynamic-data-and-capabilities/pull/71

[2019-01-30 08:51] #70 closed, assigned to nobody

[2019-01-30 08:55] pgte opened #72 "Scheduled: Dynamic Data and Capabilities WG weekly meeting — February 5th, 2019"
February 5th, 2019
4PM GMT

Call: https://protocol.zoom.us/j/586782711

Notes: https://cryptpad.fr/code/#/2/code/edit/BBvSCk3ptHq1K8EyhJUvQiTv/

[2019-01-30 08:55] pgte commented on #72
@parkan could you lead this one?

[2019-02-05 13:34] pgte commented on #72
@satazor can you lead the meeting today?

[2019-02-05 13:35] satazor commented on #72
Yep I can. How will we manage zoom?

[2019-02-05 16:01] satazor commented on #72
We are going to use this zoom instead: https://zoom.us/j/896298813

[2019-02-05 17:04] momack2 commented on #16
If there is a better place to follow along with meeting status updates (if the zoom link changes, where the crypt pad is, etc) - can we get it linked in the ipfs calendar invite? If there isn't a better place, can we open an issue like ipfs/libp2p/ipld to track this?

[2019-02-05 20:57] parkan commented on #72
hi @satazor, sorry I guess I was the only one with delegated zoom access (as far as I can tell from this email -- it's in portugese 😅)

I will be prepared next week!

[2019-02-05 21:26] satazor commented on #72
We have used @dirkmc zoom account for today’s meeting and we were able to record it as well., no worries!

[2019-02-05 23:10] dirkmc commented on #72
é tudo de bom meu amigo
https://github.com/ipfs/dynamic-data-and-capabilities/pull/73

[2019-02-06 00:12] parkan commented on #72
https://youtu.be/IbtMmns7sQ0 <--recording here!

[2019-02-06 02:56] #72 closed, assigned to parkan

[2019-03-28 02:33] jimpick opened #74 "2019Q2 OKR brainstorming"
Let's try to do as much as possible async for now. And let's try out PeerPad for it!

[PeerPad: 2019Q2 OKR brainstorming](https://dev.peerpad.net/#/w/markdown/4DhwrHJC1xEedAuxxsYxJ7x74FS66EtwQgEjBHeB25vG/4XTTMJ3CtCFuyvcuoBE7dQkJxzJL5XSmXXcPA7eghv5D6ysNJ-K3TgUYGL8XKhFuB8YcvAcqrcqvvFYknKRuJXwjaHPq8seFvbNdCQttMrSbJJtrZ2r7CSzseRi1LPoA2GjY3H6EiLJRbD59vANQ18XXL9bRUj4hZVwtjQYSCz8VAKEnzXAPyLZmM4)

When we

[2019-03-29 01:48] jimpick commented on #74
Status updates on our OKR planning process are on the https://github.com/ipfs/team-mgmt/pull/920 issue.

[2019-04-01 17:18] jimpick commented on #74
@pgte and @aschmahmann did some brainstorming on IPNS OKRs here:

https://cryptpad.fr/code/#/2/code/edit/ObQrMQ6JDO1kgCeyeCC9CHyt/

[2019-05-02 02:50] momack2 commented on #36
Wish I could have attended! Are there notes or a recording?

[2019-05-02 06:03] aschmahmann opened #76 "Dynamic Data and Capabilities SIG meeting — May 1st, 2019"
Video: https://drive.google.com/open?id=18PV-hDXr-p7oTSUrRxxG5SGcRztnkUwa
Notes: In process

Hope to be uploading videos for future meetings to Youtube.

[2019-05-02 06:20] aschmahmann opened #77 "Scheduled: Dynamic Data and Capabilities SIG meeting — June 5, 2019"
June 5, 2019
4PM GMT

Call: https://protocol.zoom.us/j/463453857
Notes: https://cryptpad.fr/code/#/2/code/edit/IU3tHOYG10iv3uc3d-o-RJ2l/

[2019-05-02 06:24] aschmahmann commented on #36
Thanks @momack2 and hope to see you at the next one! The recording and notes info are in the given meeting's specific GitHub issue (in this case #76). There will also be a PR linked from there when the notes, including the video link, are added into this repo.

[2019-07-21 11:58] tapaswenipathak commented on #61
Hi @pgte, @jimpick: Can I add the tutorials, or is the ticket internal?

[2019-07-21 18:33] jimpick commented on #61
@tapaswenipathak The project is open to all. We’d happily take a contributed tutorial!

[2019-07-24 16:48] tapaswenipathak commented on #61
Thanks, do you have any prioritised topics list?

[2019-07-27 15:49] tapaswenipathak commented on #61
Thanks @jimpick do you have any prioritised topics list?

[2019-07-27 18:57] jimpick commented on #61
At the start of the year, we sketched out a roadmap for the "Dynamic Data and Capabilities" group:

https://github.com/ipfs/roadmap/pull/9/files

But then a decision was made to focus on different priorities, and the groups were re-organized to better focus on the prioritized goals for IPFS as a whole, as explained here:

https://blog.ipfs.io/78-ipfs-2019-roadmap/

I'm still maintaining the projec

[2019-08-24 11:37] tapaswenipathak commented on #61
Hi @jimpick: Thanks for letting me know, I didn't find anything useful where I can define a strict line about the best documents. I am adding few documents and reffing the ticket, let me know what you think and then I can add more documents.

I can add a webpage as well, should I add in IPFS website or separate webpage PRed in dynamic-data-and-capabilities repository?

[2019-10-14 15:47] tapaswenipathak commented on #61
Hey @jimpick: Are you still involved in taking the RFCs forward?

[2019-10-15 01:12] tapaswenipathak opened #80 "Listing maintainers or reviewers"
Hey: Who all are responsible for taking the work for dynamic-data-and-capabilities forward?From the continuation of conversation @jimpick https://github.com/ipfs/dynamic-data-and-capabilities/issues/61#issuecomment-515705946, would be useful having a list of folks who are the maintainers or potential reviewers for any PRs for a little quicker review cycle if you are open for external contributors